<div class="grid grid-cols-12 gap-4 support-wrapper workrule-wrapper">

    <div class="p-2 mb-4 col-span-12 bg-surface-50 dark:bg-surface-950">
        <p-confirmDialog></p-confirmDialog>
        <p-toast></p-toast>
        <div class="w-full p-4 m-0 card bg-surface-0 dark:bg-surface-900 page-content-wrapper animate-zoominup animate-duration-400 "
            *ngIf="mode == 'template'">
            <div class="flex w-full pb-4 mb-4 card-header border-b border-surface justify-between">
                <div class="flex flex-wrap gap-4 items-center">
                    <p-button icon="pi pi-arrow-left text-xl" [rounded]="true" [outlined]="true" severity="primary"
                        (click)="changeMode('list', undefined)" />
                    <h5 class="m-0">Work Rule Template</h5>
                </div>
                <div class="flex flex-wrap gap-4">
                </div>
            </div>
            <div class="w-full data-view">
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-12" *ngIf="this.selectedWorkRuleModel">
                        <div class="detail-box w-[30rem] mx-auto">
                            <ul
                                class="flex flex-wrap gap-20 gap-y-2 p-0 m-0 list-none text-surface-600 dark:text-surface-200 justify-around">
                                <li>
                                    <div class="mb-1 font-medium text-surface-900 dark:text-surface-0">WorkRule Code</div>
                                    <span
                                        class="p-1 text-lg text-surface-600 dark:text-surface-200 border border-surface rounded-border bg-surface-50 dark:bg-surface-950">
                                        {{this.selectedWorkRuleModel.code}}
                                    </span>
                                </li>
                                <li>
                                    <div class="mb-1 font-medium text-surface-900 dark:text-surface-0">Description</div>
                                    <span
                                        class="p-1 text-lg text-surface-600 dark:text-surface-200 border border-surface rounded-border bg-surface-50 dark:bg-surface-950">
                                        {{this.selectedWorkRuleModel.name}}
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-span-12">

                        <p-tabMenu [model]="scrollableTabs" [(activeItem)]="activeIndex"
                            (activeItemChange)="onChangeTabIndex($event)" />

                        <p-table [rowHover]="true" dataKey="code" editMode="row" [value]="templateTableEntries"
                            [scrollable]="true" scrollHeight="calc(100vh - 25rem)" [rows]="25"
                            [showCurrentPageReport]="true" [rowsPerPageOptions]="[25, 50, 100]" [loading]="isLoading"
                            dataKey="code"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['name', 'compId']" [paginator]="true"
                            styleClass="p-datatable-gridlines p-datatable-sm" tableStyleClass="table-layout-fixed"
                            [resizableColumns]="true" columnResizeMode="fit" [autoLayout]="true" class="rounded-border"
                            responsive="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:3.5rem !important;">
                                        <div class="flex justify-center items-center">
                                            #
                                        </div>
                                    </th>
                                    <th pSortableColumn="code">
                                        <div class="flex justify-center items-center">
                                            Code
                                        </div>
                                    </th>
                                    <th pSortableColumn="name" class="w-80">
                                        <div class="flex justify-center items-center">
                                            Name
                                        </div>
                                    </th>
                                    <th pSortableColumn="shiftStartRange">
                                        <div class="flex justify-center items-center">
                                            Start Range
                                        </div>
                                    </th>
                                    <th pSortableColumn="nhinTime">
                                        <div class="flex justify-center items-center">
                                            In Time
                                        </div>
                                    </th>
                                    <th pSortableColumn="latestAllowed">
                                        <div class="flex justify-center items-center">
                                            Late Grace
                                        </div>
                                    </th>
                                    <th pSortableColumn="earliestAllowed">
                                        <div class="flex justify-center items-center">
                                            Early Grace
                                        </div>
                                    </th>
                                    <th pSortableColumn="earliestAllowed">
                                        <div class="flex justify-center items-center">
                                            Sequence
                                        </div>
                                    </th>
                                    <th class="w-32" style="width: 6rem">Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowIndex="rowIndex" let-data let-editing="editing">
                                <tr [pEditableRow]="data">
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{rowIndex + 1}}</td>
                                    <td class="text-left text-surface-900 dark:text-surface-0">{{data.shiftCode}}</td>
                                    <td class="text-left text-surface-900 dark:text-surface-0">{{data.name}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{data.shiftStartRange | date :'shortTime'}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{data.nhinTime | date :'shortTime'}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{data.latestAllowed | date :'shortTime'}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{data.earliestAllowed | date :'shortTime'}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="[0,1,2,3,4,5,6,7]" appendTo="body"
                                                    [(ngModel)]="data.seq" styleClass="w-full" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                <p-chip styleClass="pr-0 pl-4">
                                                    <span class="ml-2 font-medium">
                                                        {{data.seq}}
                                                    </span>
                                                    <button pButton pRipple type="button" pInitEditableRow
                                                        icon="pi pi-pencil" (click)="onRowEditInit(data)"
                                                        class="m-0 p-button-rounded p-button-text">
                                                    </button>
                                                </p-chip>
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">

                                        <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                                            (click)="onDeleteTemplateRecord($event, data)"
                                            class="p-button-rounded p-button-outlined p-button-danger ">
                                        </button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                            icon="pi pi-check" (click)="onRowEditSave(data)"
                                            class="mr-2 p-button-rounded p-button-text p-button-success">
                                        </button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                            icon="pi pi-times" (click)="onRowEditCancel(data, rowIndex)"
                                            class="p-button-rounded p-button-text p-button-danger">
                                        </button>
                                        <!-- <button pButton pRipple icon="pi pi-folder-open" pTooltip="View"
                                            class="mr-2 p-button-rounded p-button-info p-button-outlined"></button> -->
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="py-0 col-span-12">
                        <p-divider align="left" type="solid" styleClass="w-full">
                            <h5 class="m-0">Active Shifts</h5>
                        </p-divider>
                    </div>
                    <!-- <div class="w-full my-1 border-b border-surface"></div> -->
                    <div class="pt-0 col-span-12">
                        <p-table #supportTable [rowHover]="true" [value]="shifts" [scrollable]="true"
                            scrollHeight="calc(100vh - 25rem)" [rows]="25" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[25, 50, 100]" [loading]="isLoading" dataKey="code"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['name', 'compId']" [paginator]="true"
                            styleClass="p-datatable-gridlines p-datatable-sm" tableStyleClass="table-layout-fixed"
                            [resizableColumns]="true" columnResizeMode="fit" [autoLayout]="true" class="rounded-border"
                            responsive="true">
                            <ng-template pTemplate="caption">
                                <div class="flex flex-wrap justify-between">
                                    <div class="flex flex-wrap gap-2 items-center">
                                        <p-iconField iconPosition="left">
                                            <p-inputIcon styleClass="pi pi-search" />
                                            <input type="text" pInputText placeholder="Search by Name" #filter
                                                (input)="supportTable.filterGlobal($event.target.value, 'contains')" />
                                        </p-iconField>
                                    </div>
                                    <div class="flex flex-row gap-2 items-center justify-start">
                                        <div class="flex flex-wrap">

                                        </div>
                                    </div>


                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:3.5rem !important;">
                                        <div class="flex justify-center items-center">
                                            #
                                        </div>
                                    </th>
                                    <th pSortableColumn="code">
                                        <div class="flex justify-center items-center">
                                            Code
                                        </div>
                                    </th>
                                    <th pSortableColumn="name" class="w-80">
                                        <div class="flex justify-center items-center">
                                            Name
                                        </div>
                                    </th>
                                    <th pSortableColumn="shiftStartRange">
                                        <div class="flex justify-center items-center">
                                            Start Range
                                        </div>
                                    </th>
                                    <th pSortableColumn="nhinTime">
                                        <div class="flex justify-center items-center">
                                            In Time
                                        </div>
                                    </th>
                                    <th pSortableColumn="latestAllowed">
                                        <div class="flex justify-center items-center">
                                            Late Grace
                                        </div>
                                    </th>
                                    <th pSortableColumn="earliestAllowed">
                                        <div class="flex justify-center items-center">
                                            Early Grace
                                        </div>
                                    </th>
                                    <th class="text-center" class="w-32">Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowIndex="rowIndex" let-data>
                                <tr>
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{rowIndex + 1}}</td>
                                    <td class="text-left text-surface-900 dark:text-surface-0">{{data.shiftCode}}</td>
                                    <td class="text-left text-surface-900 dark:text-surface-0">{{data.name}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{data.shiftStartRange | date :'shortTime'}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{data.nhinTime | date :'shortTime'}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{data.latestAllowed | date :'shortTime'}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">{{data.earliestAllowed | date :'shortTime'}}</td>
                                    <td class="text-center text-surface-900 dark:text-surface-0">
                                        <button pButton pRipple icon="pi pi-plus" pTooltip="Link to Template Day"
                                            class="mr-2 p-button-rounded p-button-outlined p-button-primary"
                                            (click)="onLinkTemplateRecord(data)"></button>
                                        <button pButton pRipple icon="pi pi-folder-open" pTooltip="View"
                                            class="mr-2 p-button-rounded p-button-outlined p-button-info"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full p-4 m-0 card bg-surface-0 dark:bg-surface-900 page-content-wrapper animate-flipright animate-duration-400"
            *ngIf="mode == 'list'">

            <h5 class="mb-0">Work Rules</h5>

            <div class="flex w-full">



                <p-table #supportTable [rowHover]="true" [value]="workRules" [scrollable]="true"
                    scrollHeight="calc(100vh - 25rem)" [rows]="25" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[25, 50, 100]" [loading]="isLoading" dataKey="code"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['code', 'name', 'employeeCode', 'lastUpdatedDate', 'active', 'companyId']"
                    [paginator]="true" styleClass="p-datatable-gridlines p-datatable-sm"
                    tableStyleClass="table-layout-fixed" columnResizeMode="fit" [autoLayout]="true" class="rounded-border"
                    responsive="true">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-wrap justify-between">
                            <div class="flex flex-row gap-2 items-center justify-start">
                                <p-dropdown [options]="companies" [showClear]="false" placeholder="Filter by Company"
                                    (onChange)="supportTable.filterGlobal($event.value.compId, 'equals')"
                                    [(ngModel)]="selectedCompany">
                                    <ng-template let-selectedValue pTemplate="selectedItem">
                                        <div class="flex gap-2 items-center" *ngIf="selectedValue">
                                            <img src="assets/context/images/flag/flag_placeholder.png"
                                                [class]="'flag flag-' + selectedValue.logo" style="width: 21px" />
                                            <div>{{ selectedValue.name }}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-company pTemplate="item">
                                        <div class="flex gap-2 items-center">
                                            <img src="assets/context/images/flag/flag_placeholder.png"
                                                [class]="'flag flag-' + company.logo" style="width: 21px" />
                                            <div>{{ company.name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <div class="flex flex-wrap">
                                    <p-iconField iconPosition="left">
                                        <p-inputIcon styleClass="pi pi-search" />
                                        <input type="text" pInputText placeholder="Search by Work Rule Name" #filter
                                            (input)="supportTable.filterGlobal($event.target.value, 'contains')" />
                                    </p-iconField>
                                </div>
                            </div>

                            <div class="flex flex-wrap gap-2">
                                <button pButton label="Link to Departments" class="p-button-outlined" icon="pi pi-link"
                                    (click)="showLinkPanel = !showLinkPanel"></button>
                                <button pButton label="New Work Rule" class="p-button-outlined" icon="pi pi-plus"
                                    (click)="openAddOrEditPanel(undefined)"></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="code" class="w-32">
                                <div class="flex justify-between items-center">
                                    <div></div>
                                    #
                                    <p-sortIcon field="code"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="text" field="otherCode" display="menu" placeholder="Search by Code">
                                                                                </p-columnFilter> -->
                                </div>
                            </th>
                            <th pSortableColumn="name">
                                <div class="flex justify-between items-center">
                                    Work Rule Name
                                    <p-sortIcon field="name"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="text" field="otherCode" display="menu"
                                                        placeholder="Search by Code">
                                                    </p-columnFilter> -->
                                </div>
                            </th>
                            <th pSortableColumn="lastUpdatedUser">
                                <div class="flex justify-between items-center">
                                    <div></div>
                                    Updated By
                                    <p-sortIcon field="lastUpdatedUser"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="boolean" field="active" display="menu">
                                                                                    </p-columnFilter> -->
                                </div>
                            </th>
                            <th pSortableColumn="lastUpdatedDate">
                                <div class="flex justify-between items-center">
                                    <div></div>
                                    Last Updated Date
                                    <p-sortIcon field="lastUpdatedDate"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="text" field="name" display="menu"
                                                        placeholder="Search by Name">
                                                    </p-columnFilter> -->
                                </div>
                            </th>
                            <th pSortableColumn="active" class="w-48">
                                <div class="flex justify-between items-center">
                                    <div></div>
                                    Active
                                    <p-sortIcon field="active"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="boolean" field="active" display="menu">
                                                                                                                </p-columnFilter> -->
                                </div>
                            </th>
                            <th class="text-center w-40">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td class="text-center text-surface-900 dark:text-surface-0">{{data.code}}</td>
                            <td class="text-left text-surface-900 dark:text-surface-0">{{data.name}}</td>
                            <td class="text-center text-surface-900 dark:text-surface-0">{{data.employeeCode}}</td>
                            <td class="text-center text-surface-900 dark:text-surface-0"> {{data.lastUpdatedDate | date :'mediumDate'}}</td>
                            <td class="text-center">
                                <div class="flex text-center justify-center">
                                    <i class="pi"
                                        [ngClass]="data.active ? 'text-green-500 pi-check-circle' : 'text-red-500 pi-times-circle'"></i>

                                </div>
                            </td>
                            <td class="text-center">
                                <button pButton pRipple icon="pi pi-folder-open" pTooltip="View"
                                    class="mr-2 p-button-rounded p-button-outlined p-button-info"
                                    (click)="changeMode('template', data)"></button>
                                <button pButton pRipple icon="pi pi-pencil" (click)="openAddOrEditPanel(data)"
                                    class="p-button-rounded p-button-outlined p-button-success" pTooltip="Edit">
                                </button>

                                <button pButton pRipple icon=" pi pi-trash" pTooltip="Delete"
                                    class="p-button-rounded p-button-outlined p-button-warning "
                                    (click)="onDeleteTemplateRecord($event, data)">
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-sidebar [(visible)]="showAddPanel" position="right">
                    <ng-template pTemplate="header">
                        <div class="text-xl font-bold">
                            Work Rule Info
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <form [formGroup]="form">

                            <formly-form [model]="model" [fields]="fields" [options]="formOptions"
                                [form]="form"></formly-form>

                            <!-- <div class="w-full py-2">
        <label for="float-label" class="font-medium text-surface-900 dark:text-surface-0">Reimbursement</label>
        <div class="flex w-auto items-center">
            <p-inputSwitch class="p-inputSwitch-lg" id="visa-cost" triggers="focus"></p-inputSwitch>
        </div>
    </div> -->
                        </form>

                    </ng-template>
                    <ng-template pTemplate="footer">
                        <div class="flex gap-2 justify-end">
                            <p-button type="submit" label="Update" severity="primary" [outlined]="false"
                                [loading]="isLoading" icon="pi pi-check" class="ml-auto"
                                (onClick)="submit()"></p-button>
                            <p-button label="Cancel" severity="primary" [outlined]="true" text="true" icon="pi pi-times"
                                (onClick)="showAddPanel = !showAddPanel"></p-button>
                        </div>
                    </ng-template>
                </p-sidebar>
                <p-sidebar [(visible)]="showLinkPanel" position="right">
                    <ng-template pTemplate="header">
                        <div class="text-xl font-bold">
                            Link to Departments
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <form [formGroup]="depForm">
                            <div class="grid grid-cols-12 gap-4 w-full fromgrid">
                                <div class="col-span-12 p-fluid">
                                    <label for="float-label" class="font-medium text-surface-900 dark:text-surface-0">Department</label>
                                    <p-treeSelect class="w-full" containerStyleClass="w-full" [options]="departmentTree"
                                        placeholder="Select a Department" selectionMode="single"
                                        formControlName="department" />
                                    <small class="p-error" id="username-help">Field is required.</small>
                                </div>
                                <div class="col-span-12 p-fluid">
                                    <label for="float-label" class="font-medium text-surface-900 dark:text-surface-0">Work Rule</label>
                                    <p-dropdown [options]="workRules" placeholder="Select a Rule" [showClear]="true"
                                        formControlName="workRuleId" optionLabel="name" optionValue="code"></p-dropdown>
                                    <small class="p-error" id="username-help">Field is required.</small>
                                </div>
                                <div class="col-span-12 p-fluid">
                                    <label for="float-label" class="font-medium text-surface-900 dark:text-surface-0">Work Rule Start Date</label>
                                    <p-calendar [iconDisplay]="'input'" [showIcon]="true"
                                        formControlName="startDate"></p-calendar>
                                    <small class="p-error" id="username-help">Field is required.</small>
                                </div>
                            </div>
                        </form>

                    </ng-template>
                    <ng-template pTemplate="footer">
                        <div class="flex gap-2 justify-end">
                            <p-button type="submit" label="Update" [outlined]="true" severity="primary"
                                [outlined]="false" [loading]="loadingDept" icon="pi pi-check" class="ml-auto"
                                (onClick)="onSaveLinkDepartments()"></p-button>
                            <p-button label="Cancel" severity="danger" text="true" icon="pi pi-times"
                                (onClick)="showLinkPanel = !showLinkPanel"></p-button>
                        </div>
                    </ng-template>
                </p-sidebar>
            </div>
        </div>
    </div>
</div>