<div class="p-0">
    <div class="grid grid-cols-12 gap-4 formgrid p-fluid">
        <div class="col-span-12">
            <p-panel [toggleable]="true" styleClass="rounded-none">
                <ng-template pTemplate="header">
                    <div class="flex items-center gap-2">
                        <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large"
                    shape="circle" /> -->
                        <span class="font-bold">Emergency Contact</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex flex-wrap items-center justify-between gap-4">
                        <span class="p-text-secondary">Updated 2 hours ago</span>
                        <div class="flex items-center gap-2">
                            <p-confirmDialog />
                            <p-toast></p-toast>
                            <p-button type="submit" label="Update" severity="primary" [outlined]="true"
                                [loading]="isSaving" icon="pi pi-check" (onClick)="form.ngSubmit.emit()"
                                styleClass="w-auto"></p-button>
                            <!-- <p-button label="Print" class="ml-2" severity="info" [outlined]="true" icon="pi pi-print"
                    styleClass="w-auto"></p-button> -->
                        </div>
                    </div>
                </ng-template>
                <div>
                    <form (ngSubmit)="onSubmit()" [formGroup]="validationForm" novalidate autocomplete="off"
                        #form="ngForm">
                        <div class="grid grid-cols-12 gap-4 formgrid p-fluid p-2">
                            <div class="field md:mb-6 col-span-12 md:col-span-6 lg:col-span-4">
                                <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Contact Name</label>
                                <input pInputText id="name" class="" formControlName="emergencyContactName"
                                    name="emergencyContactName" [(ngModel)]="employeeData.emergencyContactName"
                                    autocomplete="off" />
                                <small class="p-error" id="username-help">Contact Name required.</small>
                            </div>
                            <div class="field md:mb-6 col-span-12 md:col-span-6 lg:col-span-4">
                                <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Contact Relation</label>
                                <input pInputText id="name" class="" formControlName="emergencyContactRelation"
                                    name="emergencyContactRelation"
                                    [(ngModel)]="employeeData.emergencyContactRelation" />
                                <small class="p-error" id="username-help">Contact Relation required.</small>
                            </div>
                            <div class="field md:mb-6 col-span-12 md:col-span-6 lg:col-span-4">
                                <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Contact Number</label>
                                <input pInputText id="name" class="" formControlName="emergencyContactNo"
                                    name="emergencyContactNo" [(ngModel)]="employeeData.emergencyContactNo" />
                                <small class="p-error" id="username-help">Contact Number required.</small>
                            </div>
                        </div>
                    </form>
                </div>
            </p-panel>
            <p-panel [toggleable]="true" styleClass="rounded-none mt-6">
                <ng-template pTemplate="header">
                    <div class="flex flex-wrap items-center justify-between gap-4">
                        <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large"
                        shape="circle" /> -->
                        <span class="flex font-bold">Contact Details</span>
                        <!-- <div class="flex items-center gap-2">
                    <p-button label="Add Contact" severity="primary" [outlined]="true" [loading]="isSaving"
                        icon="pi pi-plus" (onClick)="onSubmit()" styleClass="w-auto"></p-button>
                </div> -->
                    </div>
                </ng-template>
                <div class="w-full">
                    <p-table [rowHover]="true" [value]="contacts" styleClass="p-datatable-gridlines p-datatable-sm"
                        tableStyleClass="w-full" [paginator]="true" [scrollable]="false"
                        scrollHeight="calc(100vh - 305px)" dataKey="id" [loading]="loadingContacts" [rows]="10"
                        [autoLayout]="true" styleClass="p-datatable-sm p-datatable-gridlines w-full">
                        <ng-template pTemplate="caption">
                            <div class="flex items-center justify-end">

                                <p-button label="Add Contact" severity="primary" [outlined]="true" [loading]="isSaving"
                                    icon="pi pi-plus"
                                    (onClick)="openAddContactModel(undefined); showContactSlide = true"
                                    styleClass="w-auto"></p-button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Mobile</th>
                                <th>Telephone</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contact let-i="rowIndex">
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{ getDate(contact.effectiveDate) }}</td>
                                <td>{{ getContactType(contact.contactType) }}</td>
                                <td>{{ contact.mobileNo }}</td>
                                <td>{{ contact.telephone }}</td>
                                <td>{{ contact.address }}</td>
                                <td>
                                    <button pButton pRipple icon="pi pi-pencil"
                                        (click)="openAddContactModel(contact); showContactSlide = true"
                                        class="p-button-rounded p-button-primary p-button-outlined mr-2"></button>
                                    <button pButton pRipple icon="pi pi-trash" (click)="onDelete($event, contact.code)"
                                        class="p-button-rounded p-button-danger p-button-outlined"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-panel>
            <div class="flex">
                <p-sidebar [(visible)]="showContactSlide" position="right" styleClass="p-sidebar-md">
                    <ng-template pTemplate="header">
                        <div class="font-bold text-xl">Add New Contact</div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="flex-auto overflow-y-auto">
                            <div class="text-center mb-6">
                                <!-- <img src="../../../../../assets/context/images/avatar/onyamalimba.png"
                                style="width: 70px; height: 70px;"> -->
                                <div class="text-surface-900 dark:text-surface-0 mt-4 mb-2 text-xl font-medium">John Doe</div>
                                <span class="text-surface-700 dark:text-surface-100">Father</span>
                            </div>
                        </div>
                        <div class="flex items-center mb-8">
                            <form #form="ngForm" [formGroup]="contactForm" novalidate autocomplete="off">
                                <div class="grid grid-cols-12 gap-4 formgrid p-fluid p-2">
                                    <div class="field md:mb-6 col-span-12 md:col-span-6 ">
                                        <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Type</label>
                                        <p-dropdown [options]="contactTypes" placeholder="Select a Type"
                                            optionLabel="name" optionValue="key" inputId="float-label"
                                            formControlName="contactType" [showClear]="true"></p-dropdown>
                                        <small class="p-error" id="username-help">Type required.</small>
                                    </div>
                                    <div class="field md:mb-6 col-span-12 md:col-span-6">
                                        <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Email</label>
                                        <input pInputText id="username" class="" formControlName="email" />
                                        <small class="p-error" id="username-help">Invalid.</small>
                                    </div>
                                    <div class="field md:mb-6 col-span-12 md:col-span-6">
                                        <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Mobile</label>
                                        <input pInputText id="mobile" class="" formControlName="mobileNo" />
                                    </div>
                                    <div class="field md:mb-6 col-span-12 md:col-span-6">
                                        <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Telephone</label>
                                        <input pInputText id="telephone" class="" formControlName="telephone" />
                                    </div>
                                    <div class="field md:mb-6 col-span-12 md:col-span-6">
                                        <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Address</label>
                                        <textarea id="address" rows="4" cols="30" pInputTextarea
                                            formControlName="address"></textarea>
                                    </div>
                                    <div class="field md:mb-6 col-span-12 md:col-span-6">
                                        <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Notes</label>
                                        <textarea id="notes" rows="4" cols="30" pInputTextarea
                                            formControlName="notes"></textarea>
                                    </div>
                                    <div class="field md:mb-6 col-span-12 md:col-span-6">
                                        <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Effective Date</label>
                                        <p-calendar [iconDisplay]="'input'" [showIcon]="true"
                                            formControlName="effectiveDate"></p-calendar>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <div class="flex items-center justify-end">
                            <p-button label="Save" severity="primary" [outlined]="true" [loading]="isSavingContact"
                                icon="pi pi-check" (onClick)="onSubmitContact()" styleClass="w-auto"></p-button>
                        </div>
                    </ng-template>
                </p-sidebar>
            </div>
        </div>
    </div>
</div>