module.exports = {
    corePlugins: {
        preflight: false,
    },
    prefix: '',
    content: [
        './src/**/*.{html,ts}',
        "./node_modules/flowbite/**/*.js",
        './node_modules/preline/dist/*.js',
    ],
    darkMode: 'class', // or 'media' or 'class'
    theme: {
        extend: {},
    },
    variants: {
        extend: {},
    },
    plugins: [
        require('@tailwindcss/aspect-ratio'),
        require('@tailwindcss/forms'),
        require('@tailwindcss/typography'),
        // require('daisyui'),
        require('preline/plugin'),
        require('@headlessui/tailwindcss'),
        require('tailwindcss-3d')({ legacy: true }),
        require('flowbite/plugin'),
        require("tailwindcss-animate"),
        require('tailwindcss-animated'),
    ],
    // daisyui: {
    //     themes: true, // false: only light + dark | true: all themes | array: specific themes like this ["light", "dark", "cupcake"]
    //     darkTheme: false, // name of one of the included themes for dark mode
    //     base: true, // applies background color and foreground color for root element by default
    //     styled: true, // include daisyUI colors and design decisions for all components
    //     utils: true, // adds responsive and modifier utility classes
    //     prefix: "tw-", // prefix for daisyUI classnames (components, modifiers and responsive class names. Not colors)
    //     logs: true, // Shows info about daisyUI version and used config in the console when building your CSS
    //     themeRoot: ":root", // The element that receives theme color CSS variables
    // },
};