pre.app-code {
    background-color: var(--surface-ground);
    margin: 0 0 1rem 0;
    padding: 0;
    border-radius: var(--border-radius);
    overflow: auto;

    code {
        color: var(--surface-900);
        padding: 1rem;
        line-height: 1.5;
        display: block;
        font-family: monaco, Consolas, monospace;
    }
}

.apexcharts-toolbar {
    display: none !important;
}

#sales_charts,
.chart-set {
    overflow: hidden;
}

.apexcharts-canvas {
    width: 100% !important;
}

.dashboard-month-picker {
    .p-datepicker-calendar-container {
        display: none;
    }

    .p-datepicker-inline {
        border: none;
        ;
    }

    .p-datepicker-header {
        border: none;
        padding: 0;
    }
}

$employeeTableWidth: calc(100% - 21rem);

@media screen and (min-width: 1360px) {
    .employees-layout-wrapper {
        .table-sidebar-active {
            .grid-container.employees-table {
                margin-left: 21rem !important;
                width: $employeeTableWidth;
            }
        }

    }
}

@media screen and (min-width: 992px) {

    .layout-static.layout-static-inactive,
    .layout-overlay,
    .layout-slim,
    .layout-compact,
    .layout-horizontal,
    .layout-drawer {
        .employees-layout-wrapper {
            .table-sidebar-active {
                .grid-container.employees-table {
                    margin-left: 21rem !important;
                    width: $employeeTableWidth;
                }
            }

        }
    }

}

// $md-trMinWidth: calc(30%)

@mixin responsive-table-grid() {
    @extend .flex;
    @extend .flex-wrap;
    // @extend .'md:justify-content-between';
    @extend .align-items-between;
    @extend .align-content-between;
    @extend .grid-nogutter;
    // @extend .gap-2;
    @extend .p-2;

    tr {
        @extend .card;
        @extend .m-2;

        // min-width: ;
        // @extend .col-4;
        // @extend .p-2;
        // @extend .mb-0;
        // @extend .w-18rem;

        td:last-child {
            @extend .justify-content-center;
            @extend .border-0;

            p-button .p-button {
                @extend .mb-2;
            }

        }
    }
}

.p-datatable {
    .table-layout-fixed {
        table-layout: fixed;
    }

    .p-datatable-tbody>tr>td {
        padding: 0.5rem 0.5rem;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}

// card shadow-5 w-18rem flex flex-wrap p-1

@mixin classExtend($class) {
    @extend .#{$class};
}


.filterbar-height {
    height: 46rem !important;
}

.box-layout {

    .p-datatable-thead>tr>th,
    .p-datatable-tfoot>tr>td {
        display: none !important;
    }

    .p-datatable-tbody>tr>td {
        display: flex !important;
        width: 100% !important;
        align-items: center !important;
        justify-content: space-between;
    }

    .p-datatable-tbody>tr>td:not(:last-child) {
        border: 0 none;
    }

    .p-datatable-gridlines>.p-datatable-wrapper>.p-datatable-table>.p-datatable-tbody>tr>td:last-child {
        border-top: 0;
        border-right: 0;
        border-left: 0;
    }

    .p-datatable-tbody>tr>td>.p-column-title {
        display: block;
    }

    .p-datatable .p-datatable-tbody {
        @include classExtend(flex);
        @include classExtend(flex-wrap);
        @include classExtend(gap-2);
        @include classExtend(justify-content-center);

        tr {
            @include classExtend(card);
            @include classExtend(shadow-5);
            @include classExtend(flex);
            @include classExtend(flex-wrap);
            @include classExtend(p-1);
            @include classExtend(w-18rem);

            @include classExtend((m-0));

            td {
                border: 0;
                @include classExtend(justify-content-between);
                align-items: center
            }
        }
    }
}

.tabview-custom i,
.tabview-custom span {
    vertical-align: middle
}

.tabview-custom span {
    margin: 0 .5rem
}

.p-button {
    margin-right: .25rem
}

.p-tabview p {
    line-height: 1.5;
    margin: 0
}

.p-tabmenu-nav {
    .p-tabmenuitem {
        .p-menuitem-link {
            color: var(--text-color-secondary);
        }
    }

    .p-tabmenuitem.p-highlight {
        .p-menuitem-link {
            color: var(--primary-color);
            border-color: var(--primary-color);
        }
    }
}

.p-selectbutton .p-button {
    margin: 0;
}

.w-40rem {
    width: 40rem !important;
}

.field>label {
    margin-bottom: 0.12rem;
}

// .employee-overview {
.p-stepper-nav {
    @extend .surface-ground;
}

.p-stepper-panels {
    @extend .p-0;
}

.p-selectbutton .p-button.p-highlight {
    background: var(--highlight-bg);
    color: var(--highlight-text-color);
    // border-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.p-inputSwitch-lg {
    transform: scale(1.2);
    margin-top: 0.6rem;
    margin-left: 0.3rem;
}

// .ng-touched {
//     @extend .ng-dirty !optional;
//     @extend .ng-invalid !optional;
// }

p-password.ng-invalid.ng-touched .p-inputtext,
p-inputtext.ng-invalid.ng-touched .p-inputtext,
.p-inputtext.ng-invalid.ng-touched,
p-dropdown.ng-invalid.ng-touched .p-dropdown,
p-treeselect.ng-invalid.ng-touched .p-treeselect,
p-calendar.ng-invalid.ng-touched .p-inputtext {
    border-color: #f87171 !important;
}

p-fileupload.ng-invalid.ng-touched .p-fileupload-advanced {
    border-color: #f87171 !important;
    @extend .border-1;
    @extend .border-round;
}

.ng-touched.ng-invalid~.p-error {
    display: block !important;
}

.p-error {
    display: none;
}

.custom-input-group {
    .p-inputgroup-addon {
        padding-top: 0.3rem;
        padding-bottom: 0.1rem;
    }

    p-dropdown {
        .p-dropdown {
            width: auto;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left-color: var(--surface-300) !important;

            .p-dropdown-filter {
                width: 100%;
                margin-bottom: 0.5rem;
            }
        }
    }
}

.custom-input-group-right {
    .p-inputgroup-addon {
        cursor: pointer;
    }

    p-dropdown {
        .p-dropdown {
            width: auto;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-left-color: var(--surface-300) !important;

            .p-dropdown-filter {
                width: 100%;
                margin-bottom: 0.5rem;
            }
        }
    }
}

.p-inputgroup:has(> p-dropdown.ng-invalid.ng-touched)~.p-error {
    display: block;
}

.p-inputgroup:has(> p-dropdown.ng-invalid.ng-touched) {

    .p-inputgroup-addon {
        border-color: #f87171 !important;
        border-right-color: var(--surface-300) !important;
    }

}

.page-content-wrapper {
    height: calc(100vh - 10.5rem);
}

.dashboard-month-picker {

    .p-yearpicker,
    .p-monthpicker {
        position: absolute;
        background-color: var(--surface-card) !important;
        border: 1px solid var(--surface-border);
        padding: 0.5rem;
        width: 15rem;
        left: -7rem;

        .p-monthpicker-month,
        .p-yearpicker-year {
            padding: 1rem;
            width: 3rem;
        }

    }

    .p-yearpicker {
        left: -4rem;
    }

    .p-datepicker-month,
    .p-datepicker-year {
        // pointer-events: none;
    }
}

// Support master

.support-wrapper {
    .p-listbox {
        .p-listbox-header {
            padding: 0.5rem;
        }

    }

    .p-datatable {
        .p-datatable-tbody>tr>td {
            padding: 0.5rem;
        }

        .p-datatable-thead>tr>th {
            padding: 0.8rem;
        }
    }
}

p-inputnumber {
    .p-button {
        margin-right: 0;
    }
}

.right-2rem {
    right: 2rem;
}

.employee-menu.p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}

app-attachments .p-fileupload .p-fileupload-content {
    padding: 0.5rem;
}

app-air-tickets .p-panel .p-panel-header {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}