<div class="p-0">
    <p-panel [toggleable]="true" styleClass="border-noround">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <span class="font-bold">Web Login</span>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex flex-wrap align-items-center justify-content-between gap-3">
                <span class="p-text-secondary">Updated 2 hours ago</span>
                <div class="flex align-items-center gap-2">

                    <p-button label="Update" severity="primary" [outlined]="true" [loading]="isSavingUsername"
                        icon="pi pi-check" (onClick)="onSubmitUsername(form)" styleClass="w-auto"></p-button>
                </div>
            </div>
        </ng-template>
        <div>
            <form #form="ngForm" novalidate autocomplete="off">
                <div class="grid formgrid p-fluid p-2">
                    <div class="field mb-4 col-12 md:col-4">
                        <label for="name" class="font-medium text-900">Web Login</label>
                        <div class="flex align-items-center w-auto">
                            <p-inputSwitch class="p-inputSwitch-lg" id="base-on" [(ngModel)]="employeeData.hasWebLogin"
                                name="hasWebLogin" (ngModelChange)="onModelChange(form)"></p-inputSwitch>
                        </div>
                        <!-- <div class="flex align-items-center">
                            <p-selectButton [options]="stateOptions" formControlName="hasWebLogin" name="hasWebLogin"
                                [(ngModel)]="employeeData.hasWebLogin" styleClass="flex w-full">
                                <ng-template let-item pTemplate>
                                    <div class="inline-flex align-items-center justify-content-center">
                                        <i [class]="'mr-1 pi pi-check'" *ngIf="item.label == 'Allowed'"></i>
                                        <i [class]="'mr-1 pi pi-times'" *ngIf="item.label == 'Not Allowed'"></i>
                                        <span class="w-7rem mr-5">{{item.label}}</span>
                                    </div>
                                </ng-template>
                            </p-selectButton>
                        </div> -->
                    </div>
                    <div class="field mb-4 col-12 md:col-4">
                        <label for="name" class="font-medium text-900">Username</label>
                        <input pInputText id="name" [(ngModel)]="employeeData.loginUser"
                            [disabled]="!employeeData.hasWebLogin" name="loginUser" />
                        <small class="p-error" id="username-help">Username required.</small>
                    </div>
                </div>
            </form>
        </div>
    </p-panel>
    <p-panel [toggleable]="true" styleClass="border-noround mt-4">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <span class="font-bold">Change Login Password</span>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex flex-wrap align-items-center justify-content-between gap-3">
                <span class="p-text-secondary">Updated 5 days ago</span>
                <div class="flex align-items-center gap-2">
                    <p-button label="Change Password" [outlined]="true" class="w-auto" [loading]="isSavingPassword"
                        (onClick)="onSubmitPassword(passwordForm)" icon="pi pi-save">
                    </p-button>
                </div>
            </div>
        </ng-template>
        <div>
            <form #passwordForm="ngForm" novalidate autocomplete="off">
                <div class="grid formgrid p-fluid p-2">
                    <div class="field mb-4 col-12 md:col-4">
                        <label for="name" class="font-medium text-900">New Password</label>
                        <p-password [(ngModel)]="passowrd" [toggleMask]="true" name="password" [required]="true"
                            [maxLength]="15">
                            <ng-template pTemplate="header">
                                <h6 class="m-1 p-1">Pick a password</h6>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider class="m-0 p-0"></p-divider>
                                <h6 class="m-1 p-1">Suggestions</h6>
                                <ul class="p-2 mx-2">
                                    <li>Minimum Lengh: 8</li>
                                    <li>Maximum Lengh: 15</li>
                                    <li>Uppercase: A - Z</li>
                                    <li>Lowercase: a - z</li>
                                    <li>Numbers: 0 - 9</li>
                                    <li>Special characters: !&#64;#$%^&</li>
                                </ul>
                            </ng-template>
                        </p-password>
                        <small class="p-error">Password required.</small>
                    </div>
                    <div class="field mb-4 col-12 md:col-4">
                        <label for="name" class="font-medium text-900">Confirm Password</label>
                        <p-password id="name" name="confirmPassowrd" [(ngModel)]="confirmPassowrd" [toggleMask]="true"
                            [feedback]="false" [required]="true" [maxLength]="15">
                        </p-password>
                        <small class="p-error">Confirm Password required.</small>
                    </div>
                </div>
            </form>
        </div>
    </p-panel>
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
</div>