<div class="grid">
    <div class="p-2 mb-0 col-12 surface-ground">
        <div class="flex flex-row justify-between px-2 py-0 m-0 align-items-center card border-noround surface-card">
            <ul class="flex p-0 m-0 overflow-x-auto overflow-y-hidden font-medium list-none layout-breadcrumb">
                <li class="relative p-3">
                    <a class="cursor-pointer" [routerLink]="'/self-service/dashboard'">
                        <i class="text-lg pi pi-home"></i>
                    </a>
                </li>
                <li class="relative p-3" *ngFor="let item of breadcrumbs;">
                    <div class="absolute top-0 left-0 z-1"
                        style="border-left: 20px solid var(--surface-card); border-top: 26px solid transparent; border-bottom: 26px solid transparent; width: 0; height: 0;">
                    </div>
                    <a class="flex gap-2 pl-4 align-items-center justify-content-center white-space-nowrap"
                        [ngClass]="{'cursor-pointer': item.path != undefined }" [routerLink]="item.path">
                        <i [class]="item.icon" class="flex text-lg"></i>
                        <span class="flex">{{item.label}}</span>
                    </a>
                    <div class="absolute top-0"
                        style="left: 1px; border-left: 20px solid var(--surface-border); border-top: 26px solid transparent; border-bottom: 26px solid transparent; width: 0; height: 0;">
                    </div>
                </li>
            </ul>
            <div class="flex">
                <p-calendar *ngIf="isShowDatePicker" class="max-w-full border dashboard-month-picker"
                    [readonlyInput]="true" inline="true" [showWeek]="true" dateFormat="M-yy" [(ngModel)]="dashboardDate"
                    (onMonthChange)="onSelectYear($event)" [defaultDate]="dashboardDate"></p-calendar>
                <!-- <p-calendar *ngIf="isShowDatePicker" class="max-w-full dashboard-month-picker" [readonlyInput]="true"
                    [showWeek]="true" view="year" dateFormat="yy" [(ngModel)]="dashboardDate"
                    (onMonthChange)="onSelectYear($event)"></p-calendar> -->
            </div>


        </div>
    </div>
</div>