<div class="duty-roster">
    <div class="flex gap-3 p-4 rounded-lg flex-column glass-effect effect-3d glassmorphism">
        <div class="flex items-center justify-between mb-1">
            <h1 class="m-0 text-2xl font-semibold">Import Duty Roster </h1>
        </div>
        <div
            class="w-full h-full p-4 border border-gray-300 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 bg-[#222E3A]/[6%]  glass glass-sm m-0">
            <form class="flex flex-wrap w-full gap-3" [formGroup]="formgroup">
                <div class="flex-1 field p-fluid">
                    <label class="flex w-full text-gray-700">Month</label>
                    <p-calendar [showIcon]="true"
                        inputStyleClass="input-element flex bg-transparent p-inputtext-lg text-md"
                        styleClass="flex w-full input-component glass-dropdown" (onSelect)="onSelectMonth($event)"
                        appendTo="body" [iconDisplay]="'input'" [showIcon]="true" view="month" dateFormat="MM yy"
                        [readonlyInput]="true" autoZIndex="true" size="small" formControlName="date">
                    </p-calendar>
                </div>
                <div class="flex-1 field p-fluid">
                    <label for="small-file-input">Choose Choose CSV File</label>
                    <input type="file" name="date" id="small-file-input" (change)="onFileChange($event)"
                        class="block w-full text-sm border border-gray-200 rounded-lg shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 file:bg-gray-50 file:border-0 file:me-4 file:py-3 file:px-4 dark:file:bg-neutral-700 dark:file:text-neutral-4000" accept=".csv" />
                    <!-- <p class="mt-2 text-xs text-gray-400">PNG, JPG SVG, WEBP, and GIF are Allowed.</p> -->
                </div>
                <div class="flex-1 field p-fluid">


                </div>
                <div class="flex flex-wrap mt-4 space-x-2">
                    <p-button [label]="'Add to Roster'" icon="bx bx-import" [iconPos]="'left'" [loading]="saving"
                        (onClick)="onSaveRoster()" *ngIf="rosterEntries && rosterEntries.length > 0"
                        styleClass="btn btn-outline transition duration-500 rounded-md glass-effect effect-3d btn glass px-4 py-3 hover:drop-shadow-2xl hover:ring-1">
                    </p-button>
                    <p-button [label]="'Import'" icon="bx bx-import" [iconPos]="'left'" (onClick)="uploadRosterFile()"
                        styleClass="btn btn-outline transition duration-500 rounded-md glass-effect effect-3d btn glass px-4 py-3 hover:drop-shadow-2xl hover:ring-1">
                    </p-button>
                    <p-button [label]="'Clear'" (onClick)="onClearTable()" icon="pi pi-pencil" [iconPos]="'left'"
                        styleClass="btn btn-outline transition duration-500 rounded-md glass-effect effect-3d btn glass px-4 py-3 hover:drop-shadow-2xl hover:ring-1">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
                        </svg>
                        Clear -->
                    </p-button>
                    <!-- <button class="btn glass">Glass button</button> -->

                </div>
            </form>
            <div class="flex flex-col w-full">
                <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                        <div class="overflow-hidden border rounded-lg shadow-xl dark:border-neutral-700">
                            <table class="min-w-full divide-x divide-y divide-gray-200 dark:divide-neutral-700">
                                <thead class="bg-gray-50 dark:bg-neutral-700">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-start dark:text-neutral-500">
                                            ##</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-start dark:text-neutral-500">
                                            Employee</th>

                                        <th scope="col" *ngFor="let date of daysInMonth"
                                            class="px-4 py-3 text-xs font-medium text-center text-gray-500 uppercase dark:text-neutral-500">
                                            {{date.dateNumber}}
                                        </th>

                                    </tr>
                                </thead>
                                <tbody class="divide-x divide-y divide-gray-200 dark:divide-neutral-700">
                                    <ng-container *ngFor="let item of tableEntries | keyvalue; let i=index;">
                                        <tr class="hover:bg-gray-100 dark:hover:bg-neutral-700">
                                            <td
                                                class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap dark:text-neutral-200">
                                                {{item.value[0].empCode}}
                                            </td>
                                            <td
                                                class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap dark:text-neutral-200">
                                                {{item.value[0].empName}}
                                            </td>
                                            
                                            <td *ngFor="let row of item.value"
                                                class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap dark:text-neutral-200">
                                                {{row.shift}}
                                            </td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>