<div class="grid  nested-grid surface-ground">

    <div class="surface-section px-3 py-3 mx-2 m shadow-8" *ngIf="false">
        <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
            <div class="flex align-items-start flex-column md:flex-row">
                <p-avatar image="../../../../../../assets/context/images/avatar/asiyajavayant.png"
                    styleClass="mr-5 mb-3 lg:mb-0" size="xlarge" shape="circle">
                </p-avatar>
                <!-- <img src="../../../../../../assets/context/images/avatar/asiyajavayant.png" class="mr-5 mb-3 lg:mb-0" style="width: 90px; height: 90px" /> -->
                <div>
                    <span class="text-900 font-medium text-3xl">Kathryn Murphy</span>
                    <i class="pi pi-star text-2xl ml-4 text-yellow-500"></i>
                    <div class="flex align-items-center flex-wrap text-md">
                        <div class="mr-5 mt-3">
                            <span class="font-medium text-500 uppercase">Company</span>
                            <div class="text-700 mt-2">TimeTech Bahrain Company</div>
                        </div>
                        <div class="mr-5 mt-3">
                            <span class="font-medium text-500 uppercase">Department</span>
                            <div class="text-700 mt-2">Administration - Finance</div>
                        </div>
                        <div class="mr-5 mt-3">
                            <span class="font-medium text-500 uppercase">Employee Code</span>
                            <div class="text-700 mt-2">1122</div>
                        </div>
                        <div class="mr-5 mt-3">
                            <span class="font-medium text-500 uppercase">Mobile</span>
                            <div class="text-700 mt-2">33911704</div>
                        </div>
                        <div class="mt-3">
                            <span class="font-medium text-500 uppercase">User Profile</span>
                            <div class="text-700 mt-2">Admin</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 lg:mt-0">
                <button pButton pRipple icon="pi pi-bookmark"
                    class="p-element p-ripple p-button-rounded mr-2 p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-bookmark" aria-hidden="true"></span><span class="p-ink"></span>
                </button>
                <button pButton pRipple icon="pi pi-heart"
                    class="p-element p-ripple p-button-rounded p-button-success mr-2 p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-heart" aria-hidden="true"></span><span class="p-ink"></span>
                </button>
                <button pButton pRipple icon="pi pi-list"
                    class="p-element p-ripple p-button-rounded p-button-help p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-list" aria-hidden="true"></span><span class="p-ink"></span>
                </button>
            </div>
        </div>

    </div>
    <div class="col-12 pb-0">
        <div class="flex flex-column sm:flex-row align-items-center gap-4">

            <div class="flex flex-column sm:flex-row align-items-center gap-3">
                <!-- <img
                    src="../../../../../../assets/context/images/avatar/asiyajavayant.png"
                    class="w-3rem h-3rem flex-shrink-0"> -->
                <p-avatar icon="pi pi-user" styleClass="flex-shrink-0 ">
                </p-avatar>
                <div class="flex flex-column align-items-center sm:align-items-start">
                    <h4 class="text-800 font-medium m-0 mb-1">{{employeeBasic?.empName}} has 2 unapproved leave requests
                    </h4>
                    <p class="text-600 m-0">Please update {{employeeBasic?.empShName}}'s personal details</p>
                </div>
            </div>
            <div class="flex flex-wrap gap-2 sm:ml-auto justify-content-center">
                <div class="flex">
                    <p-menu #dpOne [model]="employeeMenuItems" [popup]="true" />
                    <div (click)="dpOne.toggle($event)"
                        class=" shadow-4 flex align-items-center p-2 cursor-pointer hover:surface-0 border-round transition-duration-200">
                        <i [class]="selectedMenuItem.icon"></i>
                        <span class="font-semibold ml-2">{{selectedMenuItem.label}}</span>
                        <i class="pi pi-angle-down ml-auto"></i>
                    </div>
                </div>
                <!-- <div class="flex gap-2 align-items-center justify-content-center">
                    <button type="button" pbutton="" ptooltip="Exchange" tooltipposition="bottom" icon="pi pi-arrows-h"
                        class="p-element p-button-rounded p-button-outlined flex-shrink-0 p-button p-component p-button-icon-only">
                        <span class="p-button-icon pi pi-arrows-h" aria-hidden="true"></span>
                    </button>
                    <p-selectButton [options]="['Tabs', 'Steps']" [(ngModel)]="menuType" [unselectable]="true">
                    </p-selectButton>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="grid">
            <div class="col-3 pr-0">
                <div class="surface-card shadow-2 border-round p-3 h-full">
                    <div class="flex flex-column justify-content-center align-items-center mb-3">
                        <div>
                            <p-avatar icon="text-7xl pi pi-user" styleClass="mr-5 mb-3 lg:mb-0"
                                styleClass="w-12rem h-12rem flex-shrink-0 ">
                            </p-avatar>
                        </div>
                        <div class="flex flex-column justify-content-center align-items-center row-gap-2 ">
                            <div class="text-900 font-medium text-xl text-center" [title]="employeeBasic?.empName">
                                {{employeeBasic?.empShName}}</div>
                            <p-chip>
                                <span class="font-medium text-xl p-2">
                                    {{employeeBasic?.desgCd}}
                                </span>
                            </p-chip>
                        </div>

                    </div>
                    <ul class="list-none m-0 p-0">
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gao gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Internet"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">COMPANY</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.compDs}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Management"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">DEPARTMENT</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.deptDs}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Male-21"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">EMPLOYEE CODE</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.empCd}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Telephone"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">MOBILE</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.mobileNo}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Email"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">EMAIL</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.email}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-ID-3"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">USER PROFILE</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.userProfileName}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-0 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Calendar"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">JOINED DATE</span>
                                <span
                                    class="text-900 font-medium text-md">{{employeeBasic?.serviceStartDtString}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
    <div class="dock-window dock-advanced">
        <p-dock [model]="dockItems" [position]="'top'">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.icon" [alt]="item.label" width="100%" />
            </ng-template>
        </p-dock>

        <!-- <p-toast /> -->

        <p-dialog [(visible)]="displayFinder" [breakpoints]="{ '960px': '50vw' }"
            [style]="{ width: '30vw', height: '18rem' }" [draggable]="false" [resizable]="false">
            <p-tree [value]="[]" />
        </p-dialog>

        <p-dialog [maximizable]="true" [(visible)]="displayTerminal" [breakpoints]="{ '960px': '50vw' }"
            [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
            <p-terminal welcomeMessage="Welcome to PrimeNG (cmd: 'date', 'greet {0}', 'random')" prompt="primeng $" />
        </p-dialog>

        <p-galleria [(value)]="images" [showThumbnails]="false" [showThumbnailNavigators]="false"
            [showItemNavigators]="true" [(visible)]="displayGalleria" [circular]="true"
            [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '850px' }" [circular]="true"
            [fullScreen]="true">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>
        </p-galleria>
    </div>
</div>