<div class="grid  nested-grid surface-ground">
    <div class="col-12 pb-0">
        <div class="flex flex-column sm:flex-row align-items-center gap-4">

            <div class="flex flex-column sm:flex-row align-items-center gap-3">
                <!-- <img
                    src="../../../../../../assets/context/images/avatar/asiyajavayant.png"
                    class="w-3rem h-3rem flex-shrink-0"> -->


                <p-avatar icon="pi pi-user" *ngIf="employee == undefined || employee?.imagePath == ''; else empImage"
                    styleClass="flex-shrink-0 ">
                </p-avatar>
                <ng-template #empImage>
                    <p-avatar [icon]="'pi pi-sync pi-spinner'" styleClass="flex-shrink-0 mr-4" size="xlarge"
                        shape="circle" (onImageError)="employee.imagePath = ''"
                        *ngIf="employee.imagePath == 'spinner'; else picBlock">
                    </p-avatar>
                    <ng-template #picBlock>
                        <p-avatar [image]="employee?.imagePath" styleClass="flex-shrink-0 " shape="circle"
                            (onImageError)="employee.imagePath = ''">
                        </p-avatar>
                    </ng-template>
                </ng-template>


                <div class="flex flex-column align-items-center sm:align-items-start">
                    <h4 class="text-800 font-medium m-0 mb-1">{{employeeBasic?.empName}} has 2 unapproved leave requests
                    </h4>
                    <p class="text-600 m-0">Please update {{employeeBasic?.empShName}}'s personal details</p>
                </div>
            </div>
            <div class="flex flex-wrap gap-2 sm:ml-auto justify-content-center">
                <div class="flex">

                    <div (click)="employeeMenu.toggle($event)"
                        class=" shadow-4 flex align-items-center p-2 cursor-pointer hover:surface-0 border-round transition-duration-200">
                        <i [class]="selectedMenuItem.icon"></i>
                        <span class="font-semibold ml-2">{{selectedMenuItem.label}}</span>
                        <i class="pi pi-angle-down ml-auto"></i>
                    </div>

                </div>
                <p-overlayPanel #employeeMenu appendTo="body" styleClass="w-auto employee-menu">
                    <div class="flex flex-column">
                        <p-menu #dpOne [model]="employeeMenuItems" styleClass="w-auto">
                            <ng-template pTemplate="submenuheader" let-item>
                                <span class="text-primary font-bold" style="color: var(--primary-color) !important;">{{
                                    item.label }}</span>
                            </ng-template>
                            <ng-template pTemplate="item" let-item>
                                <a pRipple class="flex align-items-center p-menuitem-link hover:underline text-primary"
                                    style="color: var(--text-color) !important;">
                                    <span [class]="item.icon"></span>
                                    <span class="ml-2">{{ item.label }}</span>
                                    <!-- <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
                                    <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
                                        {{ item.shortcut }}
                                    </span> -->
                                </a>
                            </ng-template>
                        </p-menu>
                    </div>
                </p-overlayPanel>
                <!-- <div class="flex gap-2 align-items-center justify-content-center">
                    <button type="button" pbutton="" ptooltip="Exchange" tooltipposition="bottom" icon="pi pi-arrows-h"
                        class="p-element p-button-rounded p-button-outlined flex-shrink-0 p-button p-component p-button-icon-only">
                        <span class="p-button-icon pi pi-arrows-h" aria-hidden="true"></span>
                    </button>
                    <p-selectButton [options]="['Tabs', 'Steps']" [(ngModel)]="menuType" [unselectable]="true">
                    </p-selectButton>
                </div> -->
            </div>

        </div>
    </div>
    <div class="col-12">
        <div class="grid">
            <div class="col-3 pr-0">
                <div styleClass="surface-card shadow-2 border-round p-3 h-full" *ngIf="false">
                    <p-skeleton width="100%" height="100%" styleClass="w-full h-full" />
                </div>
                <div class="shadow-2 border-round p-3 h-full">
                    <div class="flex flex-column justify-content-center align-items-center mb-3">
                        <div>
                            <p-avatar icon="text-7xl pi pi-user"
                                *ngIf="employee == undefined || employee?.imagePath == ''; else empImageL"
                                styleClass="w-12rem h-12rem flex-shrink-0 ">
                            </p-avatar>
                            <ng-template #empImageL>
                                <p-avatar [icon]="'pi pi-sync pi-spinner'" styleClass="w-12rem h-12rem flex-shrink-0"
                                    shape="circle" (onImageError)="employee.imagePath = ''"
                                    *ngIf="employee.imagePath == 'spinner'; else picBlockL">
                                </p-avatar>
                                <ng-template #picBlockL>
                                    <p-avatar [image]="employee?.imagePath" styleClass="w-12rem h-12rem flex-shrink-0"
                                        (onImageError)="employee.imagePath =''">
                                    </p-avatar>
                                </ng-template>


                            </ng-template>
                        </div>
                        <div class="flex flex-column justify-content-center align-items-center row-gap-2 ">
                            <div class="text-900 font-medium text-xl text-center" [title]="employeeBasic?.empName">
                                {{employeeBasic?.empShName}}</div>
                            <p-chip>
                                <span class="font-medium text-xl p-2">
                                    {{employeeBasic?.desgCd}}
                                </span>
                            </p-chip>
                        </div>

                    </div>
                    <ul class="list-none m-0 p-0">
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gao gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Internet"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">COMPANY</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.compDs}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Management"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">DEPARTMENT</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.deptDs}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Male-21"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">EMPLOYEE CODE</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.empCd}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Telephone"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">MOBILE</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.mobileNo}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Email"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">EMAIL</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.email}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-2 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-ID-3"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">USER PROFILE</span>
                                <span class="text-900 font-medium text-md">{{employeeBasic?.userProfileName}}</span>
                            </div>
                        </li>
                        <li class="px-0 py-1 mb-0 flex flex-row border-round-xl surface-200 gap-2">
                            <div class="flex flex-wrap justify-content-center align-items-center p-2">
                                <i class="font-medium text-3xl ic i-Calendar"></i>
                            </div>
                            <div class=" flex flex-column justify-content-start align-items-start  row-gap-1">
                                <span class="text-600 font-medium text-xs">JOINED DATE</span>
                                <span
                                    class="text-900 font-medium text-md">{{employeeBasic?.serviceStartDtString}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
    <!-- <div class="dock-window dock-advanced"> -->
    <!-- <p-dock [model]="dockItems" [position]="'top'">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.icon" [alt]="item.label" width="100%" />
            </ng-template>
        </p-dock> -->

    <!-- <p-toast /> -->

    <!-- <p-dialog [(visible)]="displayFinder" [breakpoints]="{ '960px': '50vw' }"
            [style]="{ width: '30vw', height: '18rem' }" [draggable]="false" [resizable]="false">
            <p-tree [value]="[]" />
        </p-dialog>

        <p-dialog [maximizable]="true" [(visible)]="displayTerminal" [breakpoints]="{ '960px': '50vw' }"
            [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
            <p-terminal welcomeMessage="Welcome to PrimeNG (cmd: 'date', 'greet {0}', 'random')" prompt="primeng $" />
        </p-dialog>

        <p-galleria [(value)]="images" [showThumbnails]="false" [showThumbnailNavigators]="false"
            [showItemNavigators]="true" [(visible)]="displayGalleria" [circular]="true"
            [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '850px' }" [circular]="true"
            [fullScreen]="true">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>
        </p-galleria> -->
    <!-- </div> -->
</div>