<div class="p-0 bg-surface-0 dark:bg-surface-900 shadow-md rounded-border h-full">
    <p-tabMenu [model]="menuItemsTab" [activeItem]="activeItem" styleClass="rounded-border">
        <ng-template pTemplate="item" let-item>
            <a class="p-menuitem-link flex justify-between items-center p-4">
                <div>
                    <span [class]="'font-bold ' + item.icon"></span>
                    <span> {{ item.label }}</span>
                </div>
                <div>
                    <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{ item.shortcut }}</span>
                    <p-badge *ngIf="item.badge" [value]="item.badge" [severity]="item.badgeSeverity"></p-badge>
                </div>
            </a>
        </ng-template>
    </p-tabMenu>

    <div class="p-6 animate-scalein  animate-duration-300" *ngIf="this.activeItem.label == 'Salary'">
        <div class="p-0">
            <!-- <form (ngSubmit)="onSubmit()" novalidate autocomplete="off" #form="ngForm">
                <div class="field mb-2 col-span-12 md:col-span-6 lg:col-span-3">
                    <label for="nickname2" class="font-medium text-surface-900 dark:text-surface-0">Effective Month</label>
                    <p-calendar [iconDisplay]="'input'" [showIcon]="true" name="efectiveMonth" [required]="true"
                        [(ngModel)]="salary.efectiveMonth"></p-calendar>
                    <small class="p-error" id="username-help">Effective Month required.</small>
                </div>
                <div class="field mb-2 col-span-12 md:col-span-6 lg:col-span-4">
                    <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Basic Salary</label>
                    <input pInputText id="name" class="" name="empName" [(ngModel)]="salary.basicSalary"
                        [required]="true" />
                    <small class="p-error" id="username-help">Basic Salary required.</small>
                </div>
                <div class="field mb-2 col-span-12 md:col-span-6 lg:col-span-4">
                    <label for="name" class="font-medium text-surface-900 dark:text-surface-0">Currency</label>
                    <p-dropdown [options]="userProfiles" placeholder="Select a Profile" optionLabel="name"
                        inputId="float-label" name="userProfile" [(ngModel)]="salary.userProfile" optionValue="id"
                        [showClear]="true" [required]="true">
                    </p-dropdown>
                    <small class="p-error" id="username-help">Basic Salary required.</small>
                </div>
            </form> -->
        </div>
    </div>
</div>