<div class="flex h-screen">
    <div
        class="flex-col items-center justify-between hidden w-8/12 px-12 py-12 bg-cover lg:flex bg-norepeat">
        <img src="../../../../../assets/context/images/login/hr.jpg" class="w-full img-fluid rounded-top" alt="" />

    </div>

    <div class="flex flex-col items-center justify-between h-full px-12 py-12 w-12/12 lg:w-4/12"
        style="background-color: var(--surface-0);">
        <div class="z-50 w-full px-12 my-6 text-center">
            <div class="flex items-center justify-center w-full">
                <img src="../../../../../assets/context/images/time-tech/TimeTech_M.png" alt="timetch-layout"
                    class="w-28">
            </div>
            <h1 class="mt-6 text-4xl font-light text-primary-500">Sign in to TimeTech</h1>
            <p>Welcome, Please use the form to sign-in TimeTech network</p>
            <div class="my-8 text-left">
                <p-messages></p-messages>
                <form [formGroup]="signinForm" (ngSubmit)="onSubmitLogin()" novalidate autocomplete="off">

                    <div class="field p-fluid">
                        <label for="username" class="block mb-2" style="color: #4c566a;">Username</label>
                        <span class="block p-input-icon-right">
                            <i class="pi pi-user"></i>
                            <input id="username" type="text" pinputtext=""
                                class="w-full p-inputtext p-component p-element"
                                [ngClass]="{'is-invalid' : username.invalid && (username.dirty || username.touched)}"
                                formControlName="username" required>
                        </span>
                        <small id="username" class="p-error" *ngIf="username.invalid && (username.dirty)">
                            Enter your username.
                        </small>
                    </div>
                    <div class="field p-fluid">
                        <label for="password" class="block mt-4 mb-2" style="color: #4c566a;">Password</label>
                        <span class="block p-input-icon-right">
                            <i class="pi pi-lock"></i>
                            <input type="password" pinputtext="" class="w-full p-inputtext p-component p-element"
                                formControlName="password" required id="password">
                            <!-- <small id="password" class="p-error">Enter your username to reset your password.</small> -->
                        </span>
                        <small id="password" class="p-error"
                            *ngIf="password.invalid && password.value == '' && (password.dirty)">
                            Enter your password.
                        </small>
                        <small id="password" class="p-error"
                            *ngIf="password.invalid && password.value != '' && (password.dirty)">
                            Enter a valid password.
                        </small>
                    </div>
                    <p-checkbox label="Remember me" value="SaveInfo" class="mt-8 p-element">
                        <div data-pc-name="checkbox" data-pc-section="root" class="p-checkbox p-component">
                            <div class="p-hidden-accessible" data-pc-section="hiddenInputWrapper"
                                data-p-hidden-accessible="true">
                                <input type="checkbox" value="SaveInfo" aria-checked="false"
                                    data-pc-section="hiddenInput">
                            </div>
                            <div class="p-checkbox-box" data-p-highlight="false" data-p-focused="false"
                                data-pc-section="input">
                                <!---->
                            </div>
                        </div>
                        <label data-pc-section="label" class="p-checkbox-label ng-star-inserted"> Remember me</label>
                        <!---->
                    </p-checkbox>
                    <div class="flex items-center justify-between gap-4 mt-6">
                        <p-button pbutton type="submit" label="Login" tabindex="0" [loading]="loading">
                        </p-button>
                        <a href="#" class="secondary-button">Forgot Password?</a>
                    </div>
                </form>
            </div>

        </div>
        <div class="w-full layout-footer">
            <div>
                <span>TimeTech 2.0.0 by </span>
                <a href="https://dthree.co/" target="_blank" rel="noopener noreferrer">D3 W.L.L</a>
            </div>
        </div>

    </div>
    <div class="flex flex-col justify-between h-full px-12 py-12 text-center w-12/12 lg:w-4/12"
        style="display: none !important;">
        <img alt="timetech-layout" class="mt-6 w-60"
            src="../../../../../assets/context/images/time-tech/TimeTech_M.png">
        <div class="flex flex-col items-center gap-6">
            <div class="mb-4">
                <h2>Login to your account</h2>
                <p>Forget password?
                    <a href="javascript:" class="font-medium cursor-pointer text-primary hover:underline">Click here
                    </a>
                    to reset.
                </p>
            </div>
            <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input id="email" type="text" placeholder="Username" pInputText class="w-80">
            </span>

            <span class="p-input-icon-left">
                <i class="pi pi-key"></i>
                <input type="password" id="password" pInputText placeholder="Password" class="w-80" />
            </span>

            <button pButton pRipple label="Sign In" class="w-80" [routerLink]="['/']"></button>
        </div>

        <p class="font-semibold text-muted-color">
            A problem?
            <a class="font-medium cursor-pointer text-primary hover:underline">Click here</a>
            and let us help you.
        </p>
    </div>
    <ngx-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)"></ngx-particles>
</div>