.auth-text {
  display: inline-block;
  font-family: auto;
  margin-top: 10px;
  position: relative;
  bottom: -38px;
  padding: 10px;
}

.width-auto {
  width: auto;
}

.invalid-tooltip {
  display: block;
  position: relative;
  text-align: center;
}