.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}


.p-metergroup {
	display: flex;
	gap: 1rem;
	.p-metergroup-meters {
		background: rgba(63, 81, 181, 0.32);
		border-radius: 4px;
	}
	.p-metergroup-meter {
		border: 0 none;
		background: #3F51B5;
	}
	.p-metergroup-labels {
		.p-metergroup-label {
			gap: 0.5rem;
		}
		.p-metergroup-label-marker {
			background: #3F51B5;
			width: 0.5rem;
			height: 0.5rem;
			border-radius: 100%;
		}
		.p-metergroup-label-icon {
			width: 1rem;
			height: 1rem;
		}
	}
	.p-metergroup-labels.p-metergroup-labels-vertical {
		gap: 0.5rem;
	}
	.p-metergroup-labels.p-metergroup-labels-horizontal {
		gap: 1rem;
	}
}
.p-metergroup-meters {
	display: flex;
}
.p-metergroup-vertical {
	.p-metergroup-meters {
		flex-direction: column;
	}
	.p-metergroup-labels {
		align-items: start;
	}
}
.p-metergroup-labels {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.p-metergroup-labels-vertical {
	flex-direction: column;
}
.p-metergroup-label {
	display: inline-flex;
	align-items: center;
}
.p-metergroup-label-marker {
	display: inline-flex;
}
.p-metergroup.p-metergroup-horizontal {
	flex-direction: column;
	.p-metergroup-meters {
		height: 0.5rem;
	}
	.p-metergroup-meter {
		&:first-of-type {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		&:last-of-type {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}
.p-metergroup.p-metergroup-vertical {
	flex-direction: row;
	.p-metergroup-meters {
		width: 0.5rem;
		height: 100%;
	}
	.p-metergroup-meter {
		&:first-of-type {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		&:last-of-type {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}

.p-icon-field .p-input-icon {
	position: absolute;
	top: 50%;
	margin-top: -0.5rem;
}

.p-icon-field-left .p-input-icon:first-of-type {
	left: 0.75rem;
	color: #94a3b8;
}

.p-icon-field-right .p-input-icon:last-of-type {
	right: 0.75rem;
	color: #94a3b8;
}

.p-input-icon-left>.p-icon-wrapper.p-icon,
.p-input-icon-left>i:first-of-type {
	left: 0.75rem;
	color: #94a3b8;
}

.p-input-icon-left>.p-inputtext {
	padding-left: 2.5rem;
}

.p-input-icon-left.p-float-label>label {
	left: 2.5rem;
}

.p-input-icon-right>.p-icon-wrapper,
.p-input-icon-right>i:last-of-type {
	right: 0.75rem;
	color: #94a3b8;
}

.p-input-icon-right>.p-inputtext {
	padding-right: 2.5rem;
}

.p-icon-field-left>.p-inputtext {
	padding-left: 2.5rem;
}

.p-icon-field-left.p-float-label>label {
	left: 2.5rem;
}

.p-icon-field-right>.p-inputtext {
	padding-right: 2.5rem;
}