

<div class="duty-roster group [perspective:5000px]" >


    <div class=" h-full w-full transition-all duration-500 [transform-style:preserve-3d]"
        [ngClass]="{ '[transform:rotateY(180deg)]' : showAddNewPanel }" data-shade="900" data-rounded="xlarge" data-palettle="trust">
        <!-- <div class="absolute flex flex-col w-full h-full gap-4 p-6 rounded-lg glass-effect effect-3d glassmorphism ">
            <div class="flex items-center justify-between">
                <h1 class="m-0 text-2xl font-semibold">Schedule Shift or Workrule</h1>
            </div>


            <div class="flex w-full ">
                
            </div>
        </div> -->
        
        <div class="min-w-full card variant-outlined variant-elevated absolute  [backface-visibility:hidden]" fancy="true" gradient="true">
            <!-- <span class="text-xs text-caption">Great UX</span> -->
            <h2 class="mt-2 text-lg font-medium text-title">Schedule Shift or Workrule</h2>
            <!-- <p class="mt-3 text-sm">Provident fugit vero voluptate. dolores voluptates inventore nisi.</p> -->
        
            <div class="mt-4">
                
                <p-table #supportTable [rowHover]="true" [value]="tableEntries" [scrollable]="true" scrollHeight="calc(100vh - 25rem)"
                    [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25, 50, 100]" [loading]="loading" dataKey="code"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['empName', 'empCd', 'deptCd', 'reasonCD']" [paginator]="true"
                    styleClass="p-datatable-gridlines p-datatable-sm w-full h-full p-0  border rounded border-stone-100 rounded-md  bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 bg-[#222E3A]/[6%]  glass-card glass glass-xl m-0"
                    tableStyleClass="table-layout-fixed" [resizableColumns]="true" columnResizeMode="fit" [autoLayout]="true"
                    class="rounded-border" responsive="true" data-shade="glassy" data-rounded="xlarge" data-shadow="3xl">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-wrap justify-between">
                            <div class="flex flex-row items-center justify-start gap-2">
                                <p-floatLabel>
                                    <label for="float-label">Search by Company</label>
                                    <p-dropdown [options]="companies" [showClear]="false" styleClass="w-60 w-min-12rem"
                                        placeholder="Filter by Company" optionLabel="name" appendTo="body" optionValue="compId"
                                        [(ngModel)]="selectedCompany" (onChange)="getEntries()">
                                    </p-dropdown>
                
                                </p-floatLabel>
                                <div class="flex flex-wrap">
                                    <p-selectbutton [options]="stateOptions" [unselectable]="true" [(ngModel)]="selectedStatus"
                                        (onChange)="getEntries()" optionLabel="label" optionValue="value" />
                
                                </div>
                            </div>
                
                            <div class="flex flex-wrap items-center justify-center gap-2 outline-radial">
                                <button pButton label="Add New" class="p-button-outlined" icon="pi pi-plus" (click)="onClickAdd()">
                                </button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:6rem !important;">
                                <div class="flex items-center justify-center">
                                    Doc No
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    From
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    To
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    having Workrule
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex flex-row items-center justify-center gap-1">
                                    <span
                                        class="rounded-full inline-flex items-center font-medium relative !text-purpule-600 !bg-purple-200 px-2.5 py-1 ">
                                        Shift
                                    </span>
                                    <div>|</div>
                                    <span
                                        class="rounded-full inline-flex items-center font-medium relative !text-indigo-600 !bg-indigo-00 px-2.5 py-1 ">
                                        Workrule
                                    </span>
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    Muslim Only
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    Creator
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    Deleted
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    Delete By
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    Rollbacked
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    All Dept
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    All Emps
                                </div>
                            </th>
                            <th pSortableColumn="code">
                                <div class="flex items-center justify-center">
                                    Actions
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-data>
                        <tr class="">
                            <td class="text-center text-surface-900 dark:text-surface-0">{{data.docNo}}</td>
                            <td class="text-center">
                                <span
                                    class="inline-flex items-center gap-1.5 py-1 px-2 rounded-lg text-sm font-medium !bg-gray-100 !text-gray-800 !dark:bg-neutral-900 !dark:text-neutral-200">
                                    {{ data.fromDt | date :'yyyy/MM/dd'}}
                                </span>
                            </td>
                            <td class="text-center">
                                <span
                                    class="inline-flex items-center gap-1.5 py-1 px-2 rounded-lg text-sm font-medium !bg-gray-100 !text-gray-800 !dark:bg-neutral-900 !dark:text-neutral-200">
                                    {{ data.toDt| date :'yyyy/MM/dd' }}
                                </span>
                            </td>
                            <td class="justify-center text-center">
                                <span *ngIf="data.havingWR"
                                    class=" !bg-success-200 !text-success-800 !dark:bg-success-500/15 !dark:text-success-300 rounded-[--badge-radius] font-medium w-fit py-0.5 text-md !bg-opacity-50 ng-star-inserted flex items-center px-2 gap-2">
                                    <span class="!text-teal-500 bx bx-tada-hover icon-square-check-big"></span>
                                    <span>YES</span>
                                </span>
                                <span *ngIf="!data.havingWR"
                                    class=" !bg-rose-100 !text-rose-800 !dark:bg-rose-900 !dark:text-rose-300 rounded-[--badge-radius] font-medium w-fit py-0.5 text-md !bg-opacity-50 ng-star-inserted flex items-center px-2 gap-2">
                                    <span class="!text-rose-500 bx bx-tada-hover icon-square-x text-lg"></span>
                                    <span>NO</span>
                                </span>
                
                                <!-- <div class="bx bx-tada-hover text-rose-500 icon-thumbs-down" *ngIf="!data.havingWR"></div> -->
                            </td>
                            <td class="justify-center text-center">
                
                                <span class="rounded-full inline-flex items-center font-medium relative  px-2.5 py-1 text-md"
                                    [ngClass]="data.shiftName == null ? '!text-indigo-600 !bg-indigo-300' : '!text-purple-600 !bg-purple-300'">
                                    {{data.shiftName == null ? data.workrule : data.shiftName}}
                                </span>
                            </td>
                            <td class="justify-center">
                                <span *ngIf="data.muslim"
                                    class=" !bg-success-200 !text-success-800 !dark:bg-success-500/15 !dark:text-success-300 rounded-[--badge-radius] font-medium w-fit py-0.5 text-md !bg-opacity-50 ng-star-inserted flex items-center px-2 gap-2">
                                    <span class="!text-teal-500 bx bx-tada-hover icon-square-check-big"></span>
                                    <span>YES</span>
                                </span>
                                <span *ngIf="!data.muslim"
                                    class=" !bg-rose-100 !text-rose-800 !dark:bg-rose-900 !dark:text-rose-300 rounded-[--badge-radius] font-medium w-fit py-0.5 text-md !bg-opacity-50 ng-star-inserted flex items-center px-2 gap-2">
                                    <span class="!text-rose-500 bx bx-tada-hover icon-square-x text-lg"></span>
                                    <span>NO</span>
                                </span>
                                <!-- <div class="text-teal-500 bx bx-tada-hover icon-thumbs-up " *ngIf="data.muslim"></div>
                                                <div class="bx bx-tada-hover text-rose-500 icon-thumbs-down" *ngIf="!data.muslim"></div> -->
                            </td>
                            <td class="text-left">
                                <span class="flex flex-col items-center whitespace-nowrap">
                                    <span class="block font-medium text-gray-700 text-md">{{data.createdBy}}</span>
                                    <span class="block text-sm text-gray-700">
                                        {{data.createdOn | date :'yyyy/MM/dd'}}
                                    </span>
                                </span>
                            </td>
                
                            <td class="justify-center text-center">
                                
                                <span *ngIf="data.deleted"
                                    class=" !bg-success-200 !text-success-800 !dark:bg-success-500/15 !dark:text-success-300 rounded-[--badge-radius] font-medium w-fit py-0.5 text-md !bg-opacity-50 ng-star-inserted flex items-center px-2 gap-2">
                                    <span class="!text-teal-500 bx bx-tada-hover icon-square-check-big"></span>
                                    <span>YES</span>
                                </span>
                                <span *ngIf="!data.deleted"
                                    class=" !bg-rose-100 !text-rose-800 !dark:bg-rose-900 !dark:text-rose-300 rounded-[--badge-radius] font-medium w-fit py-0.5 text-md !bg-opacity-50 ng-star-inserted flex items-center px-2 gap-2">
                                    <span class="!text-rose-500 bx bx-tada-hover icon-square-x text-lg"></span>
                                    <span>NO</span>
                                </span>
                                <!-- <p-tag severity="secondary" value="YES" *ngIf="data.deleted" />
                                                <p-tag  severity="danger" value="NO" *ngIf="!data.deleted" /> -->
                            </td>
                            <td class="justify-center text-center">
                                <span class="block font-semibold !text-gray-800 !dark:text-neutral-200">
                                    {{ data.deletedBy == null ? "N/A" : data.deletedBy }}
                                </span>
                            </td>
                            <td class="justify-center text-center">
                                <span *ngIf="data.rollbacked"
                                    class=" !bg-success-200 !text-success-800 !dark:bg-success-500/15 !dark:text-success-300 rounded-[--badge-radius] font-medium w-fit py-0.5 text-md !bg-opacity-50 ng-star-inserted flex items-center px-2 gap-2">
                                    <span class="!text-teal-500 bx bx-tada-hover icon-square-check-big"></span>
                                    <span>YES</span>
                                </span>
                                <span *ngIf="!data.rollbacked"
                                    class=" !bg-rose-100 !text-rose-800 !dark:bg-rose-900 !dark:text-rose-300 rounded-[--badge-radius] font-medium w-fit py-0.5 text-md !bg-opacity-50 ng-star-inserted flex items-center px-2 gap-2">
                                    <span class="!text-rose-500 bx bx-tada-hover icon-square-x text-lg"></span>
                                    <span>NO</span>
                                </span>
                                <!-- <div class="text-pink-500 icon-undo-dot" *ngIf="!data.rollbacked"></div>
                                                <div class="text-rose-500 icon-undo-dot" *ngIf="data.rollbacked"></div> -->
                            </td>
                            <td class="justify-center text-center">
                                <div class="!text-teal-500 bx bx-tada-hover icon-thumbs-up" *ngIf="data.allDept"></div>
                                <div class="!text-rose-500 bx bx-tada-hover icon-thumbs-down"  *ngIf="!data.allDept"></div>
                                
                                <!-- <div class="text-teal-500 icon-layers" *ngIf="data.allDept"></div>
                                                <div class="text-rose-500 icon-layers" *ngIf="!data.allDept"></div> -->
                            </td>
                            <td class="justify-center text-center">
                                <div class="!text-teal-500 bx bx-tada-hover icon-thumbs-up" *ngIf="data.allEmp"></div>
                                <div class="!text-rose-500 bx bx-tada-hover icon-thumbs-down" *ngIf="!data.allEmp"></div>
                                
                                <!-- <div class="text-teal-500 icon-users" *ngIf="data.allEmp"></div>
                                                <div class="text-rose-500 icon-users" *ngIf="!data.allEmp"></div> -->
                            </td>
                            <td class="text-center  justify-center !text-surface-900 !dark:text-surface-0">
                                <div class="inline-flex gap-2 px-2 flex-nowrap">
                                    <button pButton pRipple icon="icon-view" pTooltip="View"
                                        class="p-2 p-button-rounded p-button-info p-button-outlined p-button-raised"
                                        (click)="deleteConfirm($event, data)">
                                    </button>
                                    <button pButton pRipple icon="icon-undo-dot" pTooltip="Rollback"
                                        class="p-2 p-button-rounded p-button-warn p-button-outlined p-button-raised"
                                        (click)="deleteConfirm($event, data)">
                                    </button>
                                    <button pButton pRipple icon="icon-trash-2" pTooltip="Delete"
                                        class="p-2 p-button-rounded p-button-danger p-button-outlined p-button-raised"
                                        (click)="deleteConfirm($event, data)">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div fancy="true" gradient="true" data-fancy="true" data-gradient="true"
        class="min-w-full card variant-outlined gradient-true variant-elevated absolute [transform:rotateY(180deg)] [backface-visibility:hidden]">
            <!-- <span class="text-xs text-caption">Great UX</span> -->
             <div>
                <button pButton pRipple class="btn variant-soft sz-lg icon-only intent-primary size-[3rem]" (click)="showAddNewPanel = !showAddNewPanel;">
                    <i class="text-2xl bx bx-tada-hover icon-arrow-big-left-dash"></i>
                    
                </button>
                <h2 class="mt-2 text-lg font-medium text-title">Add Schedule for Shift or Workrule</h2>
             </div>
            
            <!-- <p class="mt-3 text-sm">Provident fugit vero voluptate. dolores voluptates inventore nisi.</p> -->
        
            <div class="mt-4">
                <form #form="ngForm">
                
                    <div class="grid gap-4 sm:grid-cols-4 sm:gap-6">
                    
                        <div class="sm:col-span-2">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
                    
                            <p-datepicker [numberOfMonths]="2" selectionMode="range" [iconDisplay]="'input'" [showIcon]="true" />
                            <!-- <input type="text" name="name" id="name"
                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                    placeholder="Type product name" required=""> -->
                        </div>
                    
                    
                    </div>
                
                </form>
            </div>
        </div>
        
        
        
    </div>
</div>