<div class="grid employees-layout-wrapper">
    <div class="col-12 surface-ground p-2 mb-0">
        <div class="card surface-card  p-3 m-0  page-content-wrapper">
            <h5 class="mb-1">Employees</h5>
            <!-- <p> Add, Edit, Delete or Search by Creating custom search criterieas. </p> -->
            <p-toast></p-toast>

            <div #tableContent class="flex flex-row align-items-start justify-content-start w-full"
                [ngClass]="{'table-sidebar-active': showDepartments}">
                <div class="filterbar-container h-full">
                    <p-sidebar styleClass="absolute top-auto left-auto bottom-auto h-auto z-3"
                        [appendTo]="'#tableContent'" [modal]="false" [(visible)]="showDepartments" position="left">
                        <ng-template pTemplate="header">
                            <div class="flex flex-column align-items-center justify-content-start">
                                <p-dropdown [options]="companies" [(ngModel)]="selectedComapny" optionValue="compId"
                                    optionLabel="name" [showClear]="false" placeholder="Select a Company"
                                    styleClass="w-15rem"
                                    (ngModelChange)="onChangeCompany($event); this.getEmployees();">
                                    <ng-template let-selectedValue pTemplate="selectedItem">
                                        <div class="flex align-items-center gap-2" *ngIf="selectedValue">
                                            <img src="assets/context/images/flag/flag_placeholder.png"
                                                [class]="'flag flag-' + selectedValue.logo" style="width: 21px" />
                                            <div>{{ selectedValue.name }}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-company pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <img src="assets/context/images/flag/flag_placeholder.png"
                                                [class]="'flag flag-' + company.logo" style="width: 21px" />
                                            <div>{{ company.name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>

                            </div>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <div class="flex flex-column align-items-start justify-content-center">
                                <div class="flex flex-column  w-full row-gap-3">
                                    <div class="mb-0">
                                        <button pButton type="button" *ngIf="isExpand" size="small" label="Expand all"
                                            (click)="expandAll()" class="mr-2" icon="pi pi-plus"></button>
                                        <button pButton type="button" *ngIf="!isExpand" size="small"
                                            label="Collapse all" (click)="expandAll()" icon="pi pi-minus"></button>
                                    </div>
                                    <p-tree [metaKeySelection]="true" [value]="departmentTree" class="w-full"
                                        [loading]="isLoading" selectionMode="multiple" scrollHeight="28rem"
                                        [(selection)]="selectedDepartments" [filter]="true" filterMode="strict"
                                        selectionMode="checkbox" filterPlaceholder="Search Departments"
                                        (onNodeSelect)="onDepartmentSelected($event)"
                                        (onNodeUnselect)="onDepartmentSelected($event)"
                                        scrollHeight="calc(100vh - 27rem)">
                                        <ng-template let-node pTemplate="url">
                                            <a [href]="node.data" target="_blank" rel="noopener noreferrer"
                                                class="text-700 hover:text-primary">{{
                                                node.label
                                                }}</a>
                                        </ng-template>
                                        <ng-template let-node pTemplate="default">
                                            <b>{{ node.label }}</b>
                                        </ng-template>
                                    </p-tree>
                                </div>
                            </div>
                        </ng-template>

                    </p-sidebar>
                </div>
                <!-- <div class="col"> -->
                <div class="grid-container employees-table transition-all transition-duration-300 h-full"
                    [ngClass]="{'box-layout': isBoxLayout}">
                    <p-table #empTable [columns]="selectedColumns" [value]="_employees" dataKey="id" [rowHover]="true"
                        styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="25"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[25, 50, 100, 200]"
                        [virtualScrollItemSize]="5" [loading]="isLoading" [scrollable]="true"
                        scrollHeight="calc(100vh - 21rem)"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [globalFilterFields]="['empCd', 'empName', 'userProfileObj.name', 'deptDs', 'designationObj.name', 'email', 'nationalID']"
                        responsiveLayout="stack" tableStyleClass="table-layout-fixed" [resizableColumns]="true"
                        columnResizeMode="fit" [autoLayout]="true" (onRowSelect)="showProfile = true">
                        <ng-template pTemplate="caption">

                            <div class="flex flex-wrap justify-content-between">
                                <div class="flex flex-wrap gap-2">
                                    <button pButton pRipple [label]="'Filter'" [outlined]="true"
                                        icon="pi pi-filter-slash" class="p-button-primary" (click)="showFilterMenu();"
                                        [disabled]="false"></button>
                                    <button pButton pRipple label="Add New Employee" [outlined]="true"
                                        icon="pi pi-user-plus" class="p-button-primary mr-2"
                                        (click)="showAddSlide = true; addEmployeeComponent.showSlide = true; "></button>
                                    <button pButton pRipple label="Switch Layout" [outlined]="true"
                                        icon="pi pi-th-large" class="p-button-primary mr-2"
                                        (click)="isBoxLayout = !isBoxLayout"></button>

                                </div>
                                <!-- <p-multiSelect class="" [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                                                                placeholder="Please select columns" display="chip">
                                                            </p-multiSelect> -->


                                <div class="flex flex-wrap gap-2">
                                    <p-iconField iconPosition="left">
                                        <p-inputIcon styleClass="pi pi-search" />
                                        <input type="text" pInputText placeholder="Global Search" #filter
                                            (input)="empTable.filterGlobal($event.target.value, 'contains')" />
                                    </p-iconField>
                                    <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                        (click)="empTable.clear(empTable);"></button> -->
                                    <!-- <button pButton label="Settings" class="p-button-outlined" icon="pi pi-cog"
                                        (click)="empTable.clear(empTable); "></button> -->
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="empCd" pFrozenColumn style="width:7rem !important;">
                                    <div class="flex justify-content-between align-items-center">
                                        Code
                                        <p-sortIcon field="empCd"></p-sortIcon>
                                        <p-columnFilter class="ml-auto" type="text" field="empCd" display="menu"
                                            placeholder="Search by Code"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="empName" [hidden]="!isShowColumn('empName')" pResizableColumn>
                                    <div class="flex justify-content-between align-items-center">
                                        Name
                                        <p-sortIcon field="empName"></p-sortIcon>
                                        <p-columnFilter class="ml-auto" type="text" field="empName" display="menu"
                                            placeholder="Search by Name"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="userProfileObj.name" pResizableColumn
                                    [hidden]="!isShowColumn('userProfileObj.name')">
                                    <div class="flex justify-content-between align-items-center">
                                        User Profile
                                        <p-sortIcon field="userProfileObj.name"></p-sortIcon>
                                        <p-columnFilter class="ml-auto" field="userProfileObj" matchMode="in"
                                            display="menu" [showMatchModes]="false" [showOperator]="false"
                                            [showAddButton]="false">
                                            <ng-template pTemplate="header">
                                                <div class="px-3 pt-3 pb-0">
                                                    <span class="font-bold">User Profile Picker</span>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-multiSelect [ngModel]="value" [options]="userProfiles"
                                                    placeholder="Any" (onChange)="filter($event.value)"
                                                    optionLabel="name">
                                                    <ng-template let-option pTemplate="item">
                                                        <div class="inline-block vertical-align-middle">
                                                            <!-- <img [alt]="option.label"
                                                                                                                src="https://primefaces.org/cdn/primeng/images/context/avatar/{{ option.image }}" width="24"
                                                                                                                class="vertical-align-middle" /> -->
                                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                                        </div>
                                                    </ng-template>
                                                </p-multiSelect>
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="deptDs" pResizableColumn [hidden]="!isShowColumn('deptDs')">
                                    <div class="flex justify-content-between align-items-center">
                                        Department
                                        <p-sortIcon field="deptDs"></p-sortIcon>
                                        <p-columnFilter field="deptDs" matchMode="in" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" class="ml-auto"
                                            [showAddButton]="false">
                                            <ng-template pTemplate="header">
                                                <div class="px-3 pt-3 pb-0">
                                                    <span class="font-bold">Department Picker</span>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-multiSelect [ngModel]="value" [options]="departments"
                                                    placeholder="Any" (onChange)="filter($event.value)"
                                                    optionLabel="departmentName" optionValue="departmentName">
                                                    <ng-template let-option pTemplate="item">
                                                        <div class="inline-block vertical-align-middle">
                                                            <span class="ml-1 mt-1">{{ option.departmentName }}</span>
                                                        </div>
                                                    </ng-template>
                                                </p-multiSelect>
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="designationObj.name" pResizableColumn
                                    [hidden]="!isShowColumn('designationObj.name')">
                                    <div class="flex justify-content-between align-items-center">
                                        Designation
                                        <p-sortIcon field="designationObj.name"></p-sortIcon>
                                        <p-columnFilter field="designationObj.name" matchMode="in" display="menu"
                                            [showMatchModes]="false" [showOperator]="false" class="ml-auto"
                                            [showAddButton]="false">
                                            <ng-template pTemplate="header">
                                                <div class="px-3 pt-3 pb-0">
                                                    <span class="font-bold">Designation Picker</span>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-multiSelect [ngModel]="value" [options]="designations"
                                                    placeholder="Any" (onChange)="filter($event.value)"
                                                    optionLabel="name">
                                                    <ng-template let-option pTemplate="item">
                                                        <div class="inline-block vertical-align-middle">
                                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                                        </div>
                                                    </ng-template>
                                                </p-multiSelect>
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="nationalID" [hidden]="!isShowColumn('nationalID')"
                                    pResizableColumn>
                                    <div class="flex justify-content-between align-items-center">
                                        National ID
                                        <p-sortIcon field="nationalID"></p-sortIcon>
                                        <p-columnFilter type="text" field="nationalID" display="menu"
                                            placeholder="Search by ID No." class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="email" [hidden]="!isShowColumn('email')" pResizableColumn>
                                    <div class="flex justify-content-between align-items-center">
                                        Email
                                        <p-sortIcon field="nationalID"></p-sortIcon>
                                        <p-columnFilter type="text" field="email" display="menu"
                                            placeholder="Search by ID No." class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="active" [hidden]="!isShowColumn('active')"
                                    style="width:5.2rem !important;" class="px-1">
                                    <div class="flex justify-content-between align-items-center">
                                        Status
                                        <!-- <p-sortIcon field="active"></p-sortIcon> -->
                                        <p-columnFilter type="boolean" field="isActive" class="ml-1"></p-columnFilter>
                                    </div>
                                </th>
                                <th pFrozenColumn alignFrozen="right" style="width:3.5rem !important;">
                                    <div class="flex justify-content-between align-items-center">
                                        Edit
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="employee">

                                <td pFrozenColumn>
                                    <span class="p-column-title font-bold mr-3">Employee Code:</span>
                                    {{employee.empCd}}
                                </td>
                                <td [hidden]="!isShowColumn('empName')">
                                    <span class="p-column-title font-bold mr-3">Employee Name:</span>
                                    <div class="flex justify-content-start align-items-center">

                                        <p-avatar [image]="employee?.imagePath" styleClass="mr-2" shape="circle"
                                            *ngIf="!(employee?.imagePath == ''); else empImage"
                                            (onImageError)="employee.imagePath ==''">
                                        </p-avatar>
                                        <ng-template #empImage>
                                            <p-avatar [label]="employee.empName.substring(0, 1)" styleClass="mr-2"
                                                [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                                                shape="circle" />

                                        </ng-template>

                                        <span class="ml-1 vertical-align-middle">{{ employee.empName }}</span>
                                    </div>
                                </td>
                                <td [hidden]="!isShowColumn('userProfileObj.name')">
                                    <span class="p-column-title font-bold mr-3">User Profile:</span>
                                    {{employee.userProfileObj.name}}
                                </td>
                                <td [hidden]="!isShowColumn('deptDs')" class="white-space-normal">
                                    <span class="p-column-title font-bold mr-3">Department:</span>
                                    {{employee.deptDs}}
                                </td>
                                <td [hidden]="!isShowColumn('designationObj.name')">
                                    <span class="p-column-title font-bold mr-3">Designation:</span>
                                    {{employee.designationObj.name}}
                                </td>
                                <td [hidden]="!isShowColumn('nationalID')">
                                    <span class="p-column-title font-bold mr-3">Natinal Id:</span>
                                    {{employee.nationalID}}
                                </td>
                                <td [hidden]="!isShowColumn('email')" class="">
                                    <span class="p-column-title font-bold mr-3">Email:</span>

                                    <p-button [raised]="true" [label]="employee.email.replace('mailto:', '')"
                                        [link]="true" styleClass="py-1 px-2" *ngIf="employee.email != ''"
                                        (onClick)="onMailToClick(employee.email)">
                                    </p-button>

                                </td>
                                <td [hidden]="!isShowColumn('active')">
                                    <span class="p-column-title font-bold mr-3">Status:</span>
                                    <div class="flex text-center justify-content-center">
                                        <p-tag [value]="employee.isActive ? 'Active' : 'Inactive'"
                                            [severity]="employee.isActive ? 'success' : 'danger'" styleClass="mx-auto">
                                        </p-tag>
                                    </div>

                                </td>
                                <td pFrozenColumn alignFrozen="right">
                                    <p-button pRipple icon="pi pi-pencil" [text]="true" size="small" severity="primary"
                                        [rounded]="true" [raised]="true" styleClass="mr-2"
                                        [routerLink]="'/masters/employees/' + employee.empId" [outlined]="true"
                                        pTooltip="Edit Employee">
                                    </p-button>
                                    <!-- <button pButton pRipple icon="pi pi-pencil" size="small" 
                                                            class="p-button-rounded p-button-success p-button-outlined mr-2"
                                                            (click)="router.navigate(['../employee/' + employee.empId], { relativeTo: this.route })">
                                                        </button>
                                                        <button pButton pRipple icon=" pi pi-trash" size="small"
                                                            class="p-button-rounded p-button-outlined p-button-warning p-button-sm"
                                                            (click)="onMailToClick(employee.email)">
                                                        </button> -->
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8" class="flex flex-wrap justify-content-center">
                                    <div class="flex justify-content-center flex-wrap h-15rem">
                                        <div class="flex align-items-center justify-content-center">
                                            <p-message severity="warn" text="Employees Data Not Found"></p-message>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">
                                    <div class="flex justify-content-center flex-wrap h-15rem">
                                        <div class="flex align-items-center justify-content-center">
                                            <p-message severity="info"
                                                text="Loading Employee data. Please wait."></p-message>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <!-- </div> -->


            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="showAddSlide" position="right" styleClass="p-sidebar-lg">
    <ng-template pTemplate="header">
        <div class="font-bold text-xl">Add New Employee</div>
    </ng-template>

    <ng-template pTemplate="content">
        <app-add-employee (loadEmployees)="getEmployees()" *ngIf="showAddSlide"></app-add-employee>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex align-items-center justify-content-end">
            <p-button label="Save" severity="primary" [outlined]="true" [loading]="isSaving" icon="pi pi-check"
                (onClick)="addEmployeeComponent.onSubmit()"></p-button>
        </div>
    </ng-template>
</p-sidebar>

<p-sidebar [(visible)]="showProfile" position="right">
    <ng-template pTemplate="header">
        <div class="font-bold text-xl">Table Customizer</div>
    </ng-template>
    <ng-template pTemplate="content">
        <app-employee-profile *ngIf="showProfile" [employeeId]="employeeId"></app-employee-profile>
    </ng-template>
</p-sidebar>

<p-sidebar [(visible)]="showProfile" position="right">
    <ng-template pTemplate="header">
        <div class="font-bold text-xl">User Profile</div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="flex-auto overflow-y-auto">
            <div class="text-center mb-4">
                <img src="../../../../../assets/context/images/avatar/onyamalimba.png"
                    style="width: 70px; height: 70px;">
                <div class="text-900 mt-3 mb-2 text-xl font-medium">John Doe</div>
                <span class="text-700">Sales Manager</span>
            </div>
            <div class="flex align-items-center mb-5">
                <a class="flex flex-column flex-grow-1 align-items-center gap-2">
                    <div pripple
                        class="p-ripple p-element cursor-pointer border-round surface-100 hover:surface-200 transition-colors transition-duration-150 p-3 border-round-2xl">
                        <i class="pi pi-phone text-xl text-600"></i>
                        <span class="p-ink"></span>
                    </div>
                    <span class="text-sm font-medium text-700">33991113</span>
                </a>
                <a class="flex flex-column flex-grow-1 align-items-center gap-2">
                    <div pripple
                        class="p-ripple p-element cursor-pointer border-round surface-100 hover:surface-200 transition-colors transition-duration-150 p-3 border-round-2xl">
                        <i class="pi pi-envelope text-xl text-600"></i>
                        <span class="p-ink"></span>
                    </div>
                    <span class="text-sm font-medium text-700">abc&#64;gamail.com</span>
                </a>
            </div>
            <ul class="list-none p-0 m-0">
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mb-1">NAME</li>
                <li class="text-900 p-2">John Doe</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">MEMBER SINCE</li>
                <li class="text-900 p-2">1st Jan 2013</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">Department</li>
                <li class="text-900 p-2">UI/UX Design Team</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">Designation</li>
                <li class="text-900 p-2">Full-Stack Developer</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">Company</li>
                <li class="text-900 p-2">TimeTech Bahrain Company</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">Nationality</li>
                <li class="text-900 p-2">Sri Lankan</li>
            </ul>
        </div>
    </ng-template>
</p-sidebar>