<!-- <div class="layout-wrapper ui-rtl" dir="rtl" [ngClass]="containerClass"> -->
<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <app-sidebar></app-sidebar>
    <div class="layout-main-container pb-0">
        <div class="layout-main">
            <app-breadcrumbs></app-breadcrumbs>
            <div class="surface-ground mt-2">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
    <app-config></app-config>
    <div class="layout-mask"></div>
</div>