<div class="layout-sidebar" (mouseenter)="onMenuEnter($event)" (mouseleave)="onMenuLeave($event)">
    <div class="sidebar-header">
        <a class="logo" href="/">
            <div class="logo-image">
                <img src="assets/context/images/time-tech/TimeTech_L.png" alt="logo" />
                <!-- <img [src]="assets/context/images/time-tech/{{layoutService.config().colorScheme === 'light' ? 'TimeTech_L' : 'TimeTech_L'}}.png" alt="logo"/> -->
            </div>
            <span class="app-name">TIMETECH</span>
        </a>
        <button type="button" class="layout-sidebar-anchor p-link"></button>
    </div>
    <div class="flex w-full flex-col border-opacity-50">
        <p-speedDial [model]="items" radius="120" direction="down-right" type="quarter-circle"
            buttonClassName="p-button-success" />
    </div>
    <div class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>