<!-- <div class="layout-wrapper ui-rtl" dir="rtl" [ngClass]="containerClass"> -->
<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <app-sidebar></app-sidebar>
    <div class="layout-main-container">
        <div class="layout-main">
            <app-breadcrumbs></app-breadcrumbs>
            <div class="surface-ground">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
</div>