<div class="grid">

    <div class="col-12 md:col-12 xl:col-3 p-2">
        <div class="px-4 py-2 shadow-2 flex flex-column sm:flex-row md:align-items-center justify-content-between h-full"
            style="border-radius: 1rem; background: linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, rgb(28, 128, 207) 47.88%, rgb(255, 255, 255) 100.01%);">
            <div class="flex flex-column align-items-center sm:align-items-start justify-content-center xs: mb-2">
                <div class="text-blue-100 font-bold text-xl mt-2 mb-1">Welcome Back, John</div>
                <div class="text-white font-medium text-base">You have 5 unread Notifications.</div>
                <div class="text-white font-medium text-l hidden">our last login was on 01/02/2023 at 10:24 am</div>
            </div>
            <div class="flex flex-row lg:flex-column align-items-center justify-content-center">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/context/avatar/onyamalimba.png"
                    styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>

                <p-button pripple label="Profile" [raised]="true" size="small" (click)="showProfile = true">
                </p-button>
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-9 flex flex-wrap p-0 stats-cards">
        <div class="col-12 sm:col-6 md:col-3 lg:col-6 xl:col-3 p-2">
            <div class="card mb-0 h-full" *ngIf="!loadingCards.stats; else statsSkelaton">
                <div class="flex flex-wrap align-content-center align-items-center justify-content-between">
                    <div class="flex flex-column flex-wrap">
                        <span class="block text-500 font-medium mb-3">Total Hours</span>
                        <div class="text-900 font-medium text-xl">15:00H</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width: 4rem;height: 4rem;">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last
                    visit
                </span>
            </div>
            <ng-template #statsSkelaton>
                <div class="card mb-0 h-full">
                    <div
                        class="flex flex-r flex-wrap align-content-center align-items-center  justify-content-between ">
                        <div class="w-8">
                            <p-skeleton width="w-full" styleClass="mb-3 mr-2"></p-skeleton>
                            <p-skeleton width="w-full" styleClass="mb-2 mr-2"></p-skeleton>
                        </div>
                        <div class="flex align-items-center justify-content-center border-round"
                            style="width: 4rem;height: 4rem;">
                            <p-skeleton size="4rem" styleClass="mr-2"></p-skeleton>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="col-12 sm:col-6 md:col-3 lg:col-6 xl:col-3 p-2">
            <div class="card mb-0 h-full" *ngIf="!loadingCards.stats; else statsSkelaton">
                <div class="flex flex-wrap align-content-center align-items-center  justify-content-between ">
                    <div class="flex flex-column flex-wrap">
                        <span class="block text-500 font-medium mb-3">Extra Hours</span>
                        <div class="text-900 font-medium text-xl">21:00H</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        style="width: 4rem; height: 4rem;">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">
                    %52+
                </span>
                <span class="text-500">since last week</span>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-3 lg:col-6 xl:col-3 p-2">
            <div class="card mb-0 h-full" *ngIf="!loadingCards.stats; else statsSkelaton">
                <div class="flex flex-wrap align-content-center align-items-center  justify-content-between ">
                    <div class="flex flex-column flex-wrap">
                        <span class="block text-500 font-medium mb-3">Late Entry</span>
                        <div class="text-900 font-medium text-xl">28:44H</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        style="width: 4rem; height: 4rem;">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">
                    520
                </span>
                <span class="text-500">newly registered</span>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-3 lg:col-6 xl:col-3 p-2">
            <div class="card mb-0 h-full" *ngIf="!loadingCards.stats; else statsSkelaton">
                <div class="flex flex-wrap align-content-center align-items-center  justify-content-between ">
                    <div class="flex flex-column flex-wrap">
                        <span class="block text-500 font-medium mb-3">Early Exit</span>
                        <div class="text-900 font-medium text-xl">15:20H</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                        style="width: 4rem; height: 4rem;">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">
                    85
                </span>
                <span class="text-500">responded</span>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4 flex flex-column surface-ground p-2">
        <ng-template #staticsticsSkeleton>
            <div class="shadow-2 border-round surface-card p-4 h-full">
                <div class="mb-4">

                    <!-- <p-skeleton height="2rem" styleClass="text-xl font-medium text-900 w-12 lg:w-5 block"></p-skeleton> -->
                    <p-skeleton height="2rem"></p-skeleton>
                </div>
                <div class="p-1 border-round flex flex-column">
                    <p-skeleton
                        styleClass="p-1 border-round flex flex-row justify-content-between flex-wrap h-5rem"></p-skeleton>
                </div>
                <div class="flex justify-content-around flex-wrap">
                    <div class="flex flex-column flex-wrap align-items-center m-2">
                        <p-skeleton
                            styleClass="flex align-items-center justify-content-center m-1 w-5rem">Remaining</p-skeleton>
                        <p-skeleton styleClass="flex align-items-center justify-content-center m-1 w-6rem">2 Hrs 36
                            Min</p-skeleton>
                    </div>
                    <div class="flex flex-column flex-wrap align-items-center m-2">
                        <p-skeleton
                            styleClass="flex align-items-center justify-content-center m-1 w-5rem">Remaining</p-skeleton>
                        <p-skeleton styleClass="flex align-items-center justify-content-center m-1 w-6rem">2 Hrs 36
                            Min</p-skeleton>
                    </div>
                    <div class="flex flex-column flex-wrap align-items-center m-2">
                        <p-skeleton
                            styleClass="flex align-items-center justify-content-center m-1 w-5rem">Remaining</p-skeleton>
                        <p-skeleton styleClass="flex align-items-center justify-content-center m-1 w-6rem">2 Hrs 36
                            Min</p-skeleton>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="shadow-2 border-round surface-card p-4 h-full"
            *ngIf="!loadingCards.statistics; else staticsticsSkeleton">
            <div class="flex align-items-center justify-content-between mb-4">
                <span class="text-xl font-medium text-900">Statistics</span>
                <p-dropdown [options]="options"></p-dropdown>
            </div>
            <div class="bg-orange-100 p-1 border-round flex flex-column">
                <div class="bg-orange-100 p-1 border-round flex flex-row justify-content-between flex-wrap">
                    <div
                        class="flex flex-column align-content-between  align-content-center h-4rem  font-bold border-round m-2">
                        <p class="flex my-auto">Work Time</p>
                        <h4 class="flex  my-auto">6 Hrs : 54 Min</h4>
                    </div>
                    <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
                        <button pbutton pripple type="button" label="Primary"
                            class="p-element p-ripple p-button p-button-raised p-component">
                            <span class="p-button-icon p-button-icon-left pi pi-play" aria-hidden="true"></span>
                            <span class="p-button-label">
                                Check-in
                            </span>
                            <span class="p-ink" aria-hidden="true" role="presentation"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-around flex-wrap">
                <div class="flex flex-column flex-wrap  m-2">
                    <p class="flex align-items-center justify-content-center m-1">Remaining</p>
                    <h6 class="flex align-items-center justify-content-center m-1">2 Hrs 36 Min</h6>
                </div>
                <div class="flex flex-column flex-wrap  m-2">
                    <p class="flex align-items-center justify-content-center m-1">Overtime</p>
                    <h6 class="flex align-items-center justify-content-center m-1">0 Hrs 00 Min</h6>
                </div>
                <div class="flex flex-column flex-wrap  m-2">
                    <p class="flex align-items-center justify-content-center m-1">Break</p>
                    <h6 class="flex align-items-center justify-content-center m-1">1 Hrs 20 Min</h6>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 lg:col-6 xl:col-4 flex flex-column surface-ground p-2">
        <ng-template #leavesTemplate>
            <div class="shadow-2 b border-round surface-card p-4  h-full">
                <div class="mb-4">
                    <p-skeleton height="2rem"></p-skeleton>
                </div>
                <div class="grid">
                    <div class="col-12 sm:col-6 lg:col-4 p-3">
                        <div class="align-items-center justify-content-center mb-3 mx-auto">
                            <p-skeleton styleClass="h-4rem"></p-skeleton>
                        </div>
                        <p-skeleton styleClass="h-1rem"></p-skeleton>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-4 p-3">
                        <div class="align-items-center justify-content-center mb-3 mx-auto">
                            <p-skeleton styleClass="h-4rem"></p-skeleton>
                        </div>
                        <p-skeleton styleClass="h-1rem"></p-skeleton>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-4 p-3">
                        <div class="align-items-center justify-content-center mb-3 mx-auto">
                            <p-skeleton styleClass="h-4rem"></p-skeleton>
                        </div>
                        <p-skeleton styleClass="h-1rem"></p-skeleton>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-4 p-3">
                        <div class="align-items-center justify-content-center mb-3 mx-auto">
                            <p-skeleton styleClass="h-4rem"></p-skeleton>
                        </div>
                        <p-skeleton styleClass="h-1rem"></p-skeleton>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-4 p-3">
                        <div class="align-items-center justify-content-center mb-3 mx-auto">
                            <p-skeleton styleClass="h-4rem"></p-skeleton>
                        </div>
                        <p-skeleton styleClass="h-1rem"></p-skeleton>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-4 p-3">
                        <div class="align-items-center justify-content-center mb-3 mx-auto">
                            <p-skeleton styleClass="h-4rem"></p-skeleton>
                        </div>
                        <p-skeleton styleClass="h-1rem"></p-skeleton>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="shadow-2 b  border-round surface-card p-4  h-full"
            *ngIf="!loadingCards.leaves; else leavesTemplate">
            <div class="flex align-items-center justify-content-between mb-4">
                <span class="text-xl font-medium text-900">Attendance
                    and Leaves</span>
                <p-dropdown [options]="years"></p-dropdown>
            </div>
            <div class="grid">
                <div class="col-12 sm:col-6 lg:col-4 p-3">
                    <div class="text-center">
                        <div class=" flex align-items-center justify-content-center mb-3 mx-auto">
                            <h4 class="text-primary">9</h4>
                        </div>
                        <span class="text-900 font-medium">Total Leaves</span>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-4 p-3">
                    <div class="text-center">
                        <div class=" flex align-items-center justify-content-center mb-3 mx-auto">
                            <h4 class="text-pink-500">5.5</h4>
                        </div>
                        <span class="text-900 font-medium">Leaves Taken</span>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-4 p-3">
                    <div class="text-center">
                        <div class=" flex align-items-center justify-content-center mb-3 mx-auto">
                            <h4 class="text-teal-500">9</h4>
                        </div>
                        <span class="text-900 font-medium">Leaves Absent</span>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-4 p-3">
                    <div class="text-center">
                        <div class=" flex align-items-center justify-content-center mb-3 mx-auto">
                            <h4 class="text-purple-500">0</h4>
                        </div>
                        <span class="text-900 font-medium">Pending Approval</span>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-4 p-3">
                    <div class="text-center">
                        <div class=" flex align-items-center justify-content-center mb-3 mx-auto">
                            <h4 class="text-cyan-500">214</h4>
                        </div>
                        <span class="text-900 font-medium">Pending Approval</span>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-4 p-3">
                    <div class="text-center">
                        <div class=" flex align-items-center justify-content-center mb-3 mx-auto">
                            <h4 class="text-red-600">2</h4>
                        </div>
                        <span class="text-900 font-medium">Loss of Pay</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4 flex flex-column surface-ground p-2">

        <ng-template #exeptionsTemplate>
            <div class="shadow-2 border-round card surface-card p-4  h-full">
                <div class="mb-4">
                    <p-skeleton height="2rem"></p-skeleton>
                </div>
                <div class="flex gap-3 w-full mt-4 align-items-center">
                    <p-skeleton shape="circle" height="3rem" width="3rem"></p-skeleton>
                    <div class="w-full">
                        <div class="flex justify-content-between align-items-end flex-wrap mb-1">
                            <p-skeleton styleClass="flex w-4rem h-2rem"></p-skeleton>
                            <p-skeleton styleClass="flex w-5rem h-1rem"></p-skeleton>
                        </div>
                        <p-skeleton height="0.5rem"></p-skeleton>
                    </div>
                </div>
                <div class="flex gap-3 w-full mt-4 align-items-center">
                    <p-skeleton shape="circle" height="3rem" width="3rem"></p-skeleton>
                    <div class="w-full">
                        <div class="flex justify-content-between align-items-end flex-wrap mb-1">
                            <p-skeleton styleClass="flex w-4rem h-2rem"></p-skeleton>
                            <p-skeleton styleClass="flex w-5rem h-1rem"></p-skeleton>
                        </div>
                        <p-skeleton height="0.5rem"></p-skeleton>
                    </div>
                </div>
                <div class="flex gap-3 w-full mt-4 align-items-center">
                    <p-skeleton shape="circle" height="3rem" width="3rem"></p-skeleton>
                    <div class="w-full">
                        <div class="flex justify-content-between align-items-end flex-wrap mb-1">
                            <p-skeleton styleClass="flex w-4rem h-2rem"></p-skeleton>
                            <p-skeleton styleClass="flex w-5rem h-1rem"></p-skeleton>
                        </div>
                        <p-skeleton height="0.5rem"></p-skeleton>
                    </div>
                </div>
                <div class="flex gap-3 w-full mt-4 align-items-center">
                    <p-skeleton shape="circle" height="3rem" width="3rem"></p-skeleton>
                    <div class="w-full">
                        <div class="flex justify-content-between align-items-end flex-wrap mb-1">
                            <p-skeleton styleClass="flex w-4rem h-2rem"></p-skeleton>
                            <p-skeleton styleClass="flex w-5rem h-1rem"></p-skeleton>
                        </div>
                        <p-skeleton height="0.5rem"></p-skeleton>
                    </div>
                </div>
            </div>
        </ng-template>

        <div class="shadow-2 border-round card surface-card p-4  h-full"
            *ngIf="!loadingCards.exceptions; else exeptionsTemplate">
            <div class="flex align-items-center justify-content-between mb-4">
                <span class="text-xl font-medium text-900">Exceptions</span>
                <p-calendar class="max-w-full dashboard-month-picker" [inline]="true" [showWeek]="true"></p-calendar>
            </div>

            <div class="flex gap-3 w-full mt-4 align-items-center">
                <img class="w-3rem h-3rem hidden" src="assets/context/images/dashboard/banking-4.svg" alt="Food">
                <div class="w-full">
                    <div class="flex flex-wrap w-full justify-content-between align-items-center">
                        <span class="font-semibold">Absent</span>
                        <div class="flex">
                            <span
                                class="font-semibold text-color-secondary pr-2 border-right-2 surface-border text-sm">79%</span>
                            <span class="font-semibold ml-2 text-sm">24/30</span>
                        </div>
                    </div>
                    <div class="border-round w-full overflow-hidden mt-2"
                        style="height: 7px; background-color: var(--surface-border);">
                        <div class="border-left-round h-full"
                            style="background: linear-gradient(-120deg, rgb(198, 55, 55), rgba(198, 55, 55, 0.3) 70%); width: 79%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex gap-3 w-full mt-4 align-items-center "><img class="w-3rem h-3rem hidden"
                    src="assets/context/images/dashboard/banking-6.svg" alt="Utilities">
                <div class="w-full">
                    <div class="flex flex-wrap w-full justify-content-between align-items-center"><span
                            class="font-semibold">Missing Swipe</span>
                        <div class="flex"><span
                                class="font-semibold text-color-secondary pr-2 border-right-2 surface-border text-sm">45%</span><span
                                class="font-semibold ml-2 text-sm">13/30</span></div>
                    </div>
                    <div class="border-round w-full overflow-hidden mt-2"
                        style="height: 7px; background-color: var(--surface-border);">
                        <div class="border-left-round h-full"
                            style="background: linear-gradient(-120deg, rgb(250, 183, 16), rgba(250, 183, 16, 0.3) 70%); width: 45%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex gap-3 w-full mt-4 align-items-center"><img class="w-3rem h-3rem hidden"
                    src="assets/context/images/dashboard/banking-8.svg" alt="Travel">
                <div class="w-full">
                    <div class="flex flex-wrap w-full justify-content-between align-items-center"><span
                            class="font-semibold">Late Entry</span>
                        <div class="flex"><span
                                class="font-semibold text-color-secondary pr-2 border-right-2 surface-border text-sm">35%</span><span
                                class="font-semibold ml-2 text-sm">10/30</span></div>
                    </div>
                    <div class="border-round w-full overflow-hidden mt-2"
                        style="height: 7px; background-color: var(--surface-border);">
                        <div class="border-left-round h-full"
                            style="background: linear-gradient(-120deg, rgb(77, 182, 172), rgba(77, 182, 172, 0.3) 70%); width: 35%;">
                        </div>
                    </div>
                </div>
            </div><!---->
            <div class="flex gap-3 w-full mt-4 align-items-center"><img class="w-3rem h-3rem hidden"
                    src="assets/context/images/dashboard/banking-8.svg" alt="Travel">
                <div class="w-full">
                    <div class="flex flex-wrap w-full justify-content-between align-items-center"><span
                            class="font-semibold">Early Exit</span>
                        <div class="flex"><span
                                class="font-semibold text-color-secondary pr-2 border-right-2 surface-border text-sm">10%</span><span
                                class="font-semibold ml-2 text-sm">3/30</span></div>
                    </div>
                    <div class="border-round w-full overflow-hidden mt-2"
                        style="height: 7px; background-color: var(--surface-border);">
                        <div class="border-left-round h-full"
                            style="background: linear-gradient(-120deg, rgb(77, 182, 172), rgba(77, 182, 172, 0.3) 70%); width: 10%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 p-2 surface-ground">
        <ng-template #attendance>
            <div class="shadow-2 border-round surface-card p-4 h-full">
                <div class="mb-4">
                    <p-skeleton height="2rem"></p-skeleton>
                </div>
                <div class="flex flex-column justify-content-center">
                    <div class="flex justify-content-center flex-wrap">
                        <p-skeleton styleClass="flex w-4rem h-1rem border-round m-2"></p-skeleton>
                        <p-skeleton styleClass="flex w-4rem h-1rem border-round m-2"></p-skeleton>
                        <p-skeleton styleClass="flex w-4rem h-1rem border-round m-2"></p-skeleton>
                        <p-skeleton styleClass="flex w-4rem h-1rem border-round m-2"></p-skeleton>
                        <p-skeleton styleClass="flex w-4rem h-1rem border-round m-2"></p-skeleton>
                    </div>
                    <div class="flex  justify-content-center flex-wrap">
                        <p-skeleton shape="circle" styleClass="flex w-15rem h-15rem m-2"></p-skeleton>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="shadow-2 border-round surface-card p-4 h-full"
            *ngIf="!loadingCards.attendanceChart; else attendance">
            <div class="flex align-items-center justify-content-between mb-2">
                <span class="text-xl font-medium text-900">Monthly Overview</span>
                <p-calendar class="max-w-full dashboard-month-picker" [inline]="true" [showWeek]="true"></p-calendar>

            </div>
            <!-- <div class="grid flex justify-content-center mt-0 mb-2 px-3">
                <div class="col-6 md:col-4 flex justify-content-center flex-wrap border-solid border-1 border-primary-500 relative transition-all transition-duration-300 hover:shadow-5 cursor-pointer h-5rem mr-1">
                    <div class="flex align-items-center justify-content-center">Attendance</div>
                    <div class="flex align-items-center justify-content-center">
                        <apx-chart [series]="options4.series" [chart]="options4.chart" [tooltip]="options4.tooltip"></apx-chart>
                    </div>
                </div>
                <div class="col-6 md:col-6 flex justify-content-center flex-wrap relative transition-all transition-duration-300 hover:shadow-3 cursor-pointer h-5rem">
                    <div class="flex align-items-center justify-content-center">Working Hours</div>
                    <div class="flex align-items-center justify-content-center">
                        <apx-chart [series]="options1.series" [chart]="options1.chart" [plotOptions]="options1.plotOptions"
                            [tooltip]="options1.tooltip">
                        </apx-chart>
                    </div>
                    
                </div>
            </div> -->
            <div class="p-1 border-round flex flex-row justify-content-center flex-wrap">
                <div class="w-full m-auto h-auto">
                    <p-chart [type]="attendenceChartOptions.type" [data]="attendenceChartOptions.data"
                        [options]="attendenceChartOptions.options" [plugins]="attendenceChartOptions.plugins"
                        [responsive]="true"></p-chart>

                    <!-- <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                        [fill]="chartOptions.fill" [dataLabels]="chartOptions.dataLabels"
                        [responsive]="chartOptions.responsive"></apx-chart> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 flex flex-column surface-ground p-2">
        <div class="shadow-2 border-round surface-card p-4 h-full">
            <div class="flex align-items-center justify-content-between mb-2">
                <span class="text-xl font-medium text-900">Working Hours</span>
                <p-dropdown [options]="years"></p-dropdown>
            </div>
            <div class="p-1 border-round flex flex-row justify-content-center flex-wrap">
                <div class="w-full m-auto h-auto">
                    <p-chart [type]="WorkingHoursChartOptions.type" [data]="WorkingHoursChartOptions.data"
                        [options]="WorkingHoursChartOptions.options" [responsive]="true"></p-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4 flex flex-column surface-ground p-2">
        <ng-template #orgChartSkeleton>
            <div class="shadow-2 border-round surface-card p-4  h-full">
                <div class="mb-4">
                    <p-skeleton height="2rem" styleClass="text-xl font-medium text-900"></p-skeleton>
                </div>
                <div class="flex justify-content-center">
                    <div class="p-organizationchart p-component p-organizationchart-preservespace">
                        <table class="p-element p-organizationchart-table">
                            <tbody>
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <div
                                            class="p-organizationchart-node-content p-organizationchart-selectable-node">
                                            <div class="p-2 flex flex-column align-items-center">
                                                <p-skeleton shape="circle" styleClass="mb-3 w-3rem h-3rem"></p-skeleton>
                                                <p-skeleton width="4rem" height="1rem"
                                                    styleClass="font-bold mb-1"></p-skeleton>
                                                <p-skeleton width="3rem" height="1rem" styleClass=""></p-skeleton>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="p-organizationchart-lines p-organizationchart-node-visible"
                                    style="opacity: 1;">
                                    <td colspan="4">
                                        <div class="p-organizationchart-line-down"></div>
                                    </td>
                                </tr>
                                <tr class="p-organizationchart-lines p-organizationchart-node-visible"
                                    style="opacity: 1;">
                                    <td class="p-organizationchart-line-left">&nbsp;</td>
                                    <td class="p-organizationchart-line-right p-organizationchart-line-top">&nbsp;</td>
                                    <td class="p-organizationchart-line-left p-organizationchart-line-top">&nbsp;</td>
                                    <td class="p-organizationchart-line-right">&nbsp;</td>
                                </tr>
                                <tr class="p-organizationchart-nodes p-organizationchart-node-visible"
                                    style="opacity: 1;">
                                    <td colspan="2">
                                        <table class="p-element p-organizationchart-table">
                                            <tr>
                                                <td>
                                                    <div
                                                        class="p-organizationchart-node-content p-organizationchart-selectable-node">
                                                        <div class="p-2 flex flex-column align-items-center">
                                                            <p-skeleton shape="circle"
                                                                styleClass="mb-3 w-3rem h-3rem"></p-skeleton>
                                                            <p-skeleton width="4rem" height="1rem"
                                                                styleClass="font-bold mb-1"></p-skeleton>
                                                            <p-skeleton width="3rem" height="1rem"
                                                                styleClass=""></p-skeleton>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td colspan="2">
                                        <table class="p-element p-organizationchart-table">
                                            <tr>
                                                <td>
                                                    <div
                                                        class="p-organizationchart-node-content p-organizationchart-selectable-node">
                                                        <div class="p-2 flex flex-column align-items-center">
                                                            <p-skeleton shape="circle"
                                                                styleClass="mb-3 w-3rem h-3rem"></p-skeleton>
                                                            <p-skeleton width="4rem" height="1rem"
                                                                styleClass="font-bold mb-1"></p-skeleton>
                                                            <p-skeleton width="3rem" height="1rem"
                                                                styleClass=""></p-skeleton>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="shadow-2 border-round surface-card p-4 h-full"
            *ngIf="!loadingCards.orgChart; else orgChartSkeleton">
            <!-- !loadingCards.orgChart; else orgChartSkeleton -->

            <div class="flex align-items-center justify-content-between mb-4">
                <div class="text-xl font21w-medium text-900">Reporting Structure</div>
            </div>
            <div class="flex justify-content-center">
                <p-organizationChart [value]="orgChartData" selectionMode="none" [(selection)]="selectedNodes"
                    preserveSpace="false">
                    <ng-template let-node pTemplate="person">
                        <div class="p-2 text-center">
                            <img [src]="node.data.image" class="mb-3 w-3rem h-3rem" />
                            <div class="font-bold">{{ node.data.name }}</div>
                            <div>{{ node.data.title }}</div>
                        </div>
                    </ng-template>
                </p-organizationChart>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4 flex flex-column surface-ground p-2">

    </div>


    <div class="col-12 lg:col-6 xl:col-4 surface-ground pr-0 pt-0 hidden">
        <div class="shadow-2 border-round surface-card p-4 ">
            <div class="grid">
                <div class="col-12 sm:col-6 justify-content-center">
                    <div class="bg-blue-50 text-center p-3 border-round flex flex-column"><i
                            class="text-blue-500 pi pi-play text-4xl block mb-4"></i><span
                            class="text-black-alpha-90 text-5xl">152h</span>
                        <div class="text-blue-700 mt-3 font-medium">Total Hours</div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 justify-content-center">
                    <div class="bg-purple-50 text-center p-3 border-round flex flex-column"><i
                            class="text-purple-500 pi pi-users text-4xl block mb-4"></i><span
                            class="text-black-alpha-90 text-5xl">21000h</span>
                        <div class="text-purple-700 mt-3 font-medium">Extra Hours</div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 justify-content-center">
                    <div class="bg-teal-50 text-center p-3 border-round flex flex-column"><i
                            class="text-teal-500 pi pi-camera text-4xl block mb-4"></i><span
                            class="text-black-alpha-90 text-5xl">71.2h</span>
                        <div class="text-teal-700 mt-3 font-medium">Late Entry</div>
                    </div>
                </div>
                <div class="col-12 sm:col-6 justify-content-center">
                    <div class="bg-indigo-50 text-center p-3 border-round flex flex-column"><i
                            class="text-indigo-500 pi pi-thumbs-up text-4xl block mb-4"></i><span
                            class="text-black-alpha-90 text-5xl">4500h</span>
                        <div class="text-indigo-700 mt-3 font-medium">Early Exit</div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<p-sidebar [(visible)]="showProfile" position="right">
    <ng-template pTemplate="header">
        <div class="font-bold text-xl">User Profile</div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="flex-auto overflow-y-auto">
            <div class="text-center mb-4">
                <img src="https://primefaces.org/cdn/primeng/images/context/avatar/onyamalimba.png"
                    style="width: 70px; height: 70px;">
                <div class="text-900 mt-3 mb-2 text-xl font-medium">John Doe</div>
                <span class="text-700">Sales Manager</span>
            </div>
            <div class="flex align-items-center mb-5">
                <a class="flex flex-column flex-grow-1 align-items-center gap-2">
                    <div pripple
                        class="p-ripple p-element cursor-pointer border-round surface-100 hover:surface-200 transition-colors transition-duration-150 p-3 border-round-2xl">
                        <i class="pi pi-phone text-xl text-600"></i>
                        <span class="p-ink"></span>
                    </div>
                    <span class="text-sm font-medium text-700">33991113</span>
                </a>
                <a class="flex flex-column flex-grow-1 align-items-center gap-2">
                    <div pripple
                        class="p-ripple p-element cursor-pointer border-round surface-100 hover:surface-200 transition-colors transition-duration-150 p-3 border-round-2xl">
                        <i class="pi pi-envelope text-xl text-600"></i>
                        <span class="p-ink"></span>
                    </div>
                    <span class="text-sm font-medium text-700">abc&#64;gamail.com</span>
                </a>
            </div>
            <ul class="list-none p-0 m-0">
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mb-1">NAME</li>
                <li class="text-900 p-2">John Doe</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">MEMBER SINCE</li>
                <li class="text-900 p-2">1st Jan 2013</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">Department</li>
                <li class="text-900 p-2">UI/UX Design Team</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">Designation</li>
                <li class="text-900 p-2">Full-Stack Developer</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">Company</li>
                <li class="text-900 p-2">TimeTech Bahrain Company</li>
                <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">Nationality</li>
                <li class="text-900 p-2">Sri Lankan</li>
            </ul>
        </div>
    </ng-template>
</p-sidebar>