<div class="w-full">
    <p-table [rowHover]="true" [value]="dependents" styleClass="p-datatable-sm p-datatable-gridlines w-full"
        tableStyleClass="w-full" [paginator]="true" [autoLayout]="true" scrollHeight="calc(100vh - 20rem)" dataKey="id"
        [loading]="isLoading" [rows]="10">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-end">
                <p-button label="Add Dependent" severity="primary" [outlined]="true" [loading]="isSaving"
                    icon="pi pi-plus" (onClick)="openAddDependantModel(undefined);" styleClass="w-auto"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name </th>
                <th scope="col">Relation</th>
                <th scope="col">Gender</th>
                <th scope="col">Birthday</th>
                <th scope="col">Air Ticket</th>
                <th scope="col">Major/Minor </th>
                <th scope="col">Actions </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dependent let-i="rowIndex">
            <tr>
                <td>{{i + 1}}</td>
                <td>{{ dependent.dependentName }}</td>
                <td>{{ dependent.relation }}</td>
                <td>{{ getGender(dependent.gender) }}</td>
                <td>{{ getDate(dependent.dateBirth) }}</td>
                <td>
                    <p-tag [value]="'Yes'" [severity]="'success'" *ngIf="dependent.hasAirTicket"></p-tag>
                    <p-tag [value]="'No'" [severity]="'info'" *ngIf="!dependent.hasAirTicket"></p-tag>
                </td>
                <td>
                    <p-tag [value]="'Major'" [severity]="'warning'" *ngIf="dependent.majorMinor == 1"></p-tag>
                    <p-tag [value]="'Minor'" [severity]="'danger'" *ngIf="dependent.majorMinor == 2"></p-tag>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" (click)="openAddDependantModel(dependent)"
                        class="p-button-rounded p-button-success p-button-outlined mr-2"></button>
                    <button pButton pRipple icon="pi pi-trash" (click)="onDelete($event, dependent.code)"
                        class="p-button-rounded p-button-danger p-button-outlined"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-sidebar [(visible)]="showDependentSlide" position="right" styleClass="p-sidebar-lg">
        <ng-template pTemplate="header">
            <div class="font-bold text-xl">Add New Dependent</div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="flex align-items-center mb-5">
                <form #form="ngForm" novalidate autocomplete="off">
                    <div class="grid formgrid p-fluid p-2" ngModelGroup="selectedDependent">
                        <div class="field col-12 md:col-4">
                            <label for="name" class="font-medium text-900">Dependent Name</label>
                            <input pInputText id="name" [(ngModel)]="selectedDependent.dependentName"
                                name="dependentName" [required]="true" />
                            <small class="p-error" id="username-help">Dependent Name required.</small>
                        </div>
                        <div class="field  col-12 md:col-4">
                            <label for="name" class="font-medium text-900">Relation</label>
                            <p-dropdown [options]="relations" placeholder="Select Relation" optionLabel="value"
                                optionValue="name" inputId="float-label" name="relation"
                                [(ngModel)]="selectedDependent.relation" [showClear]="true"
                                [required]="true"></p-dropdown>
                            <small class="p-error" id="username-help">Relation required.</small>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="name" class="font-medium text-900">Date of Birth</label>
                            <p-calendar [iconDisplay]="'input'" [showIcon]="true" name="dateBirth"
                                [(ngModel)]="selectedDependent.dateBirth"></p-calendar>
                            <small class="p-error">Date of Birth required.</small>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="name" class="font-medium text-900">Gender</label>
                            <p-dropdown [options]="gender" placeholder="Select Gender" name="gender"
                                [(ngModel)]="selectedDependent.gender" optionLabel="name" optionValue="key"
                                inputId="float-label" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="name" class="font-medium text-900">Major/Minor</label>
                            <p-dropdown [options]="dependentType" placeholder="Select a Type" name="majorMinor"
                                [(ngModel)]="selectedDependent.majorMinor" optionLabel="name" optionValue="key"
                                inputId="float-label" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="name" class="font-medium text-900">Visa cost by company</label>
                            <div class="flex align-items-center w-auto">
                                <p-inputSwitch class="p-inputSwitch-lg" id="visa-cost" name="isVisaCostByCompany"
                                    [(ngModel)]="selectedDependent.isVisaCostByCompany"></p-inputSwitch>
                            </div>
                        </div>
                        <div class="col-12 md:col-6">
                            <p-fieldset>
                                <ng-template pTemplate="header">
                                    <div class="flex align-items-center gap-2 px-2 py-2">
                                        <p-checkbox name="isSchoolFee" value="false" [binary]="true" inputId="binary"
                                            [(ngModel)]="selectedDependent.isSchoolFee"
                                            (ngModelChange)="onModelChange(form)"></p-checkbox>
                                        <span class="p-fieldset-legend-text text-primary">School Fees</span>
                                    </div>
                                </ng-template>
                                <div class="grid formgrid p-fluid">
                                    <div class="field col-12 md:col-6">
                                        <label for="name" class="font-medium text-900">Based On Receipt</label>
                                        <div class="flex align-items-center w-auto">
                                            <p-inputSwitch class="p-inputSwitch-lg" id="base-on"
                                                [disabled]="!selectedDependent.isSchoolFee"
                                                [(ngModel)]="selectedDependent.isBasedOnFeeReceipt"
                                                name="isBasedOnFeeReceipt"></p-inputSwitch>
                                        </div>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <div class="flex align-items-center w-auto">
                                            <p-selectButton [options]="stateOptions" optionLabel="label"
                                                optionValue="value" size="small" styleClass="flex"
                                                [(ngModel)]="selectedDependent.paySchoolFeeYearly"
                                                name="paySchoolFeeYearly"
                                                [disabled]="!selectedDependent.isSchoolFee"></p-selectButton>
                                        </div>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="name" class="font-medium text-900">Pay month</label>
                                        <p-dropdown [options]="months" placeholder="Select Month"
                                            [(ngModel)]="selectedDependent.schoolFeeYearlyPayMonth" optionLabel="name"
                                            [showClear]="true" optionValue="key" name="schoolFeeYearlyPayMonth"
                                            inputId="float-label"
                                            [disabled]="!selectedDependent.isSchoolFee"></p-dropdown>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="name" class="font-medium text-900">Monthly Fees</label>
                                        <input pInputText id="name" name="monthlyFeeAmount"
                                            [(ngModel)]="selectedDependent.monthlyFeeAmount"
                                            [disabled]="!selectedDependent.isSchoolFee" />
                                        <small class="p-error" id="username-help">Monthly fees
                                            required.</small>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                        <div class="col-12 md:col-6">
                            <p-fieldset [toggleable]="false">
                                <ng-template pTemplate="header">
                                    <div class="flex align-items-center gap-2 px-2 py-2">
                                        <p-checkbox name="hasAirTicket" value="false" [binary]="true" inputId="binary"
                                            [(ngModel)]="selectedDependent.hasAirTicket"
                                            (ngModelChange)="onModelChange(form)"></p-checkbox>
                                        <span class="p-fieldset-legend-text text-primary">Air Ticket</span>
                                    </div>
                                </ng-template>
                                <div class="grid formgrid p-fluid">
                                    <div class="field col-12 md:col-6">
                                        <label for="base-on" class="font-medium text-900">Has Opening Ticket</label>
                                        <div class="flex align-items-center w-auto">
                                            <p-inputSwitch class="p-inputSwitch-lg" id="base-on"
                                                [disabled]="!selectedDependent.hasAirTicket"
                                                [(ngModel)]="selectedDependent.hasOpenTicket" name="hasOpenTicket"
                                                (ngModelChange)="onModelChange(form)"></p-inputSwitch>
                                        </div>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="base-on" class="font-medium text-900">Effective Date</label>
                                        <p-calendar [iconDisplay]="'input'" [showIcon]="true" name="openingDate"
                                            [(ngModel)]="selectedDependent.openingDate"
                                            [disabled]="!selectedDependent.hasAirTicket"></p-calendar>
                                        <small class="p-error" id="username-help">Effective Date required.</small>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="base-on" class="font-medium text-900">Opening tickets</label>
                                        <input pInputText id="name" name="openingTicket"
                                            [(ngModel)]="selectedDependent.openingTicket"
                                            [disabled]="!selectedDependent.hasAirTicket" />
                                        <small class="p-error" id="username-help">Opening Tickets required.</small>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex align-items-center justify-content-end">
                <p-button label="Save" severity="primary" [outlined]="true" [loading]="isSaving" icon="pi pi-check"
                    (onClick)="onSubmitDependent(form)"></p-button>

            </div>
        </ng-template>
    </p-sidebar>
    <p-toast preventOpenDuplicates="true"></p-toast>
</div>