<div class="grid support-wrapper">

    <div class="p-2 mb-3 col-12 surface-ground">
        <div class="p-3 m-0 card surface-card page-content-wrapper">

            <h5 class="mb-3">Holidays</h5>

            <div class="flex w-full">

                <p-confirmDialog></p-confirmDialog>
                <p-toast></p-toast>

                <p-table #supportTable [rowHover]="true" [value]="holidays" [scrollable]="true"
                    scrollHeight="calc(100vh - 28rem)" [rows]="25" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[25, 50, 100]" [loading]="isLoading" dataKey="code"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['compId', 'holidayName', 'year', 'isCompensationRequiered']"
                    [paginator]="true" styleClass="p-datatable-gridlines p-datatable-sm"
                    tableStyleClass="table-layout-fixed" columnResizeMode="fit" [autoLayout]="true" class="border-round"
                    responsive="true">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-wrap justify-content-between">
                            <div class="flex flex-row gap-2 align-items-center justify-content-start">
                                <span class="p-float-label">
                                    <p-dropdown [options]="companies" [showClear]="false"
                                        placeholder="Filter by Company"
                                        (onChange)="supportTable.filterGlobal($event.value.compId, 'equals')"
                                        [(ngModel)]="selectedCompany">
                                        <ng-template let-selectedValue pTemplate="selectedItem">
                                            <div class="flex gap-2 align-items-center" *ngIf="selectedValue">
                                                <img src="assets/context/images/flag/flag_placeholder.png"
                                                    [class]="'flag flag-' + selectedValue.logo" style="width: 21px" />
                                                <div>{{ selectedValue.name }}</div>
                                            </div>
                                        </ng-template>
                                        <ng-template let-company pTemplate="item">
                                            <div class="flex gap-2 align-items-center">
                                                <img src="assets/context/images/flag/flag_placeholder.png"
                                                    [class]="'flag flag-' + company.logo" style="width: 21px" />
                                                <div>{{ company.name }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <label for="username">Company</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown [options]="years" [showClear]="false" placeholder="Filter by Year"
                                        (onChange)="supportTable.filterGlobal($event.value, 'equals')">
                                    </p-dropdown>
                                    <label for="username">Year</label>
                                </span>

                                <div class="flex flex-wrap">
                                    <p-iconField iconPosition="left">
                                        <span class="p-float-label">
                                            <p-inputIcon styleClass="pi pi-search" />
                                            <input type="text" pInputText placeholder="Search by holiday Name" #filter
                                                (input)="supportTable.filterGlobal($event.target.value, 'contains')" />
                                            <label for="username">Name</label>
                                        </span>
                                    </p-iconField>


                                </div>
                            </div>

                            <div class="flex flex-wrap gap-2">
                                <button pButton label="Add New Holiday" class="p-button-outlined" icon="pi pi-plus"
                                    (click)="openAddOrEditPanel(undefined)"></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="code" class="w-5rem">
                                <div class="flex justify-content-between align-items-center">
                                    <div></div>
                                    #
                                    <p-sortIcon field="code"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="text" field="otherCode" display="menu" placeholder="Search by Code">
                                        </p-columnFilter> -->
                                </div>
                            </th>
                            <th pSortableColumn="holidayName" class="w-12rem">
                                <div class="flex justify-content-between align-items-center">
                                    <div></div>
                                    Holiday Name
                                    <p-sortIcon field="holidayName"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="text" field="otherCode" display="menu"
                                            placeholder="Search by Code">
                                        </p-columnFilter> -->
                                </div>
                            </th>
                            <th pSortableColumn="holiday" class="w-12rem">
                                <div class="flex justify-content-between align-items-center">
                                    <div></div>
                                    Day
                                    <p-sortIcon field="holiday"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="boolean" field="active" display="menu">
                                                                        </p-columnFilter> -->
                                </div>
                            </th>
                            <th pSortableColumn="holiday" class="w-10rem">
                                <div class="flex justify-content-between align-items-center">
                                    <div></div>
                                    Holiday
                                    <p-sortIcon field="holiday"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="text" field="name" display="menu"
                                            placeholder="Search by Name">
                                        </p-columnFilter> -->
                                </div>
                            </th>
                            <th pSortableColumn="holiday" class="w-6rem">
                                <div class="flex justify-content-between align-items-center">
                                    <div></div>
                                    Year
                                    <p-sortIcon field="holiday"></p-sortIcon>
                                    <!-- <p-columnFilter class="ml-auto" type="boolean" field="active" display="menu">
                                                                                                    </p-columnFilter> -->
                                </div>
                            </th>

                            <th pSortableColumn="isCompensationRequiered" class="w-10rem">
                                <div class="flex justify-content-between align-items-center">
                                    <div></div>
                                    Compensation
                                    <p-sortIcon field="isCompensationRequiered" />
                                    <!-- <p-columnFilter class="ml-auto" type="text" field="sequence" display="menu" /> -->
                                </div>
                            </th>
                            <th pSortableColumn="createdOn" class="w-10rem">
                                <div class="flex justify-content-between align-items-center">
                                    <div></div>
                                    Created Date
                                    <p-sortIcon field="createdOn" />
                                    <!-- <p-columnFilter class="ml-auto" type="text" field="sequence" display="menu" /> -->
                                </div>
                            </th>
                            <th class="text-center w-6rem">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td class="text-left text-900">{{data.code}}</td>
                            <td class="text-center text-900">{{data.holidayName}}</td>
                            <td class="text-center text-900"> {{data.holiday | date :'EEEE'}}</td>
                            <td class="text-center text-900"> {{data.holiday | date :'mediumDate'}}</td>
                            <td class="text-center text-900"> {{data.holiday | date :'yyyy'}}</td>
                            <td class="text-center">
                                <div class="flex text-center justify-content-center">
                                    <i class="pi"
                                        [ngClass]="data.isCompensationRequiered ? 'text-green-500 pi-check-circle' : 'text-red-500 pi-times-circle'"></i>

                                </div>
                            </td>
                            <td class="text-center text-900">{{data.createdOn | date :'mediumDate'}}</td>
                            <td class="text-center">
                                <button pButton pRipple icon="pi pi-pencil" (click)="openAddOrEditPanel(data)"
                                    class="p-button-rounded p-button-success p-button-outlined" pTooltip="Edit">
                                </button>

                                <button pButton pRipple icon=" pi pi-trash" pTooltip="Delete"
                                    class="p-button-rounded p-button-outlined p-button-warning "
                                    (click)="deleteConfirm($event, data)">
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-sidebar [(visible)]="showAddPanel" position="right">
                    <ng-template pTemplate="header">
                        <div class="text-xl font-bold">
                            Holiday Info
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <form [formGroup]="form">
                            <formly-form [model]="model" [fields]="fields" [options]="formOptions"
                                [form]="form"></formly-form>

                            <!-- <div class="w-full py-2">
                                <label for="float-label" class="font-medium text-900">Reimbursement</label>
                                <div class="flex w-auto align-items-center">
                                    <p-inputSwitch class="p-inputSwitch-lg" id="visa-cost"
                                        triggers="focus"></p-inputSwitch>
                                </div>
                            </div> -->
                        </form>

                    </ng-template>
                    <ng-template pTemplate="footer">
                        <div class="flex gap-2 justify-content-end">
                            <p-button type="submit" label="Update" severity="primary" [outlined]="true"
                                [loading]="isLoading" icon="pi pi-check" class="ml-auto"
                                (onClick)="submit()"></p-button>
                            <p-button label="Cancel" severity="primary" [outlined]="true" text="true" icon="pi pi-times"
                                (onClick)="showAddPanel = !showAddPanel"></p-button>
                        </div>
                    </ng-template>
                </p-sidebar>
            </div>
        </div>
    </div>
</div>